<table border=0px width=100% cellpadding=0 cellspacing=3px>
{foreach from=$parents item=row}
<tr>
<td style="padding-left:{$row.padding}px;" valign=top>
    {if $row.is_active eq 1}<a href="{$row.URL_select}" class=context_menu_link>выбрать</a>{/if} <a href="{$row.URL_open}" title="{$row.category_title} -- {$row.description}">{$row.category_code} {$row.title_short}</a>
</td>
</tr>
{/foreach}


<tr>
<td style="padding-left:{$category.padding}px;" valign=top>
    {if $category.is_active eq 1}<a href="{$category.URL_select}" class=context_menu_link>выбрать</a>{/if} <b><span title="{$category.category_title} -- {$category.description}">{$category.category_code} {$category.title_short}</span></b>
</td>
</tr>

{foreach from=$children item=row}
{if $row.is_visible eq 1}
<tr>
<td style="padding-left:{$row.padding}px;padding-bottom:3px;padding-top:2px;" valign=top>
    {if $row.is_active eq 1}<a href="{$row.URL_select}" class=context_menu_link>выбрать</a>{/if} <a href="{$row.URL_open}" title="{$row.category_title} -- {$row.description}">{$row.category_code} {$row.title_short} {$row.has_subcategories}</a>
</td>
</tr>
{/if}
{/foreach}
</table>
