// parameters

$resourse-root-url:"/cms/templates/znu12files";
$root-font-size-xs:16pt;
$root-font-size-sm:16pt;
$root-font-size-md:16pt;
$root-font-size-lg:20pt;

$grid-gutter-width:1rem;

$icon-font-path: $resourse-root-url + "/css/bootstrap-sass/fonts/bootstrap/";
$icon-font-name:'glyphicons-halflings-regular';

$screen-xs-min:320px;
$container-xs:$screen-xs-min - 20px;

$screen-sm--min:490px;
$container-sm-:$screen-xs-s-min - 20px;

$screen-sm-min:760px;
$container-sm:$screen-sm-min - 46px;

$screen-md-min:970px;
$container-md:$screen-md-min - 50px;

$screen-lg-min:1170px;
$container-lg:$screen-lg-min - 56px;

$font-size-base:1rem;

$znu-color-blue-bak: rgba(150, 175, 245, 0.16);
$znu-color-black:#000000;
$znu-color-blue:#3852A6;
$znu-color-blue-light:#3361B7;
$znu-color-blue-light-link:#D98634;//rgba(52, 82, 166, 0.5);
$znu-color-blue-a:rgba(56, 82, 166, 0.88);
$znu-color-white-light:rgba(255, 255, 255, 0.5);
$znu-color-white-light1:rgba(255, 255, 255, 0.7);
$znu-color-white: #fff;
$znu-color-blue-1:#337ab7;
$znu-color-blue-dark:#223264;

$znu-color-blue-links-1:#273973;
$znu-color-blue-links-2:#7383B5;
$znu-color-blue-links-3:#9BAFF2;
$znu-color-blue-links-4:#5278F2;

$znu-color-blue-links-light-1:rgba(39, 57, 115, 0.5);
$znu-color-blue-links-light-2:rgba(115,131,181,0.5);
$znu-color-blue-links-light-3:rgba(155,175,242,0.5);
$znu-color-blue-links-light-4:rgba(82,120,242,0.5);

$znu-color-blue-news-1:#4C69C3;
$znu-color-blue-news-2:#7383B5;
$znu-color-blue-news-3:#9BAFF2;

$znu-color-blue-nav-1:#273973;
$znu-color-blue-nav-2:#3852a6;
$znu-color-blue-nav-3:#6677AB;


$znu-color-yellow-light:rgba(188, 241, 17, 0.4);
//$znu-color-rose:rgba(234, 49, 182, 0.4);
$znu-color-green-light:rgba(76, 241, 224, 0.4);

$znu-color-yellow:rgb(156, 204, 1);
$znu-color-rose:rgb(212, 110, 108);
$znu-color-green:rgb(67, 192, 212);

$znu-background-color: #f2f2f2;

$znu-color-sand-light1:#FFC287;

$znu-color-chocolate:#3C241A;
//#FEF5E6;

//$znu-color-green-light:#29C8B6;
//$znu-color-green-dark:#14645B;

//$znu-color-green:#23AA9C;
//$znu-color-rose:#BC127E;
//$znu-color-rose-dark:#640944;
//$znu-color-rose-light1:#FCBDE5;

$znu-border-radius: 0.1rem 0.1rem 0.1rem 0.1rem;

$znu-shadow-box:0px 3px 5px -1px rgba(0,0,0,0.14);
//0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);//3px 3px 5px 2px rgba(0, 0, 0, 0.1), 3px 3px 5px 1px transparent;
$znu-shadow-box-inset: 0px 0px 16px -1px rgba(0,0,0,0.14);//0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);//0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);

// $font-family-sans-serif: 'CharisRegular', sans-serif;
//$font-family-sans-serif:  sans-serif;
$font-family-sans-serif: 'Noto Serif', serif;

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url($resourse-root-url +  '/css/bootstrap-sass/fonts/bootstrap/glyphicons-halflings-regular.eot');
    src: url($resourse-root-url + '/css/bootstrap-sass/fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url($resourse-root-url + '/css/bootstrap-sass/fonts/bootstrap/glyphicons-halflings-regular.woff2') format('woff2'), url($resourse-root-url + '/css/bootstrap-sass/fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff'), url($resourse-root-url + '/css/bootstrap-sass/fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'), url($resourse-root-url + '/css/bootstrap-sass/fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}


@import url(https://fonts.googleapis.com/css?family=Noto+Serif&subset=latin,cyrillic-ext);

// ====================================================

// imports
@import 'bootstrap-custom';

@mixin link-style($color-default, $color-active, $color-visited : $znu-color-blue) {

    color:$color-default;
    border-bottom:1px solid rgba(red($color-default), green($color-default), blue($color-default), 0.3);

    &:link{
        color:$color-default;
        text-decoration:none;
        border-bottom:1px solid rgba(red($color-default), green($color-default), blue($color-default), 0.3);
    }

    text-decoration:none;
    transition: 0.4s;

    &:visited{
        text-decoration:none;
        color:$color-visited;
        transition: 0.8s;
        border-bottom:1px solid rgba(red($color-visited), green($color-visited), blue($color-visited), 0.3);
    }

    &:hover, &:active, &:focus{
        text-decoration:none;
        color:$color-active;
        border-bottom:1px solid transparent;
        border-bottom-color:rgba(red($color-active), green($color-active), blue($color-active), 0.5)
    }
}

@mixin font-header{
    font-family: 'PT Sans Narrow', sans-serif;
}
@mixin font-plain{
    font-family: $font-family-sans-serif;
}



@mixin make-custom-column($columns, $min-width, $gutter: $grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);

  @media (min-width: $min-width) {
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}










.znu-2016-main{
    @extend .container;

    padding-left:1rem;

    .pagetop{
        font-size:0;
        position:absolute;
    }
    // overflow:hidden;
    @media (min-width: $screen-xs-min){
       width:90%;
    }
    @media (min-width: $screen-sm-min){
       width:90%;
    }
    @media (min-width: $screen-md-min){
       width:90%;
    }
    @media (min-width: $screen-lg-min){
        width:95%;
    }
}
html{
    @media (min-width: $screen-xs-min){
        font-size:$root-font-size-xs;
    }
    @media (min-width: $screen-sm-min){
        font-size:$root-font-size-sm;
    }
    @media (min-width: $screen-md-min){
        font-size:$root-font-size-md;
    }
    @media (min-width: $screen-lg-min){
        font-size:$root-font-size-lg;
    }
}
body{
    background-color: $znu-background-color;
    font-size:1rem;
    background-size: cover;
    background-attachment: fixed;
}

// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// =========== header and top navigation = begin ==========


.znu-2016-overheader-bg{
    background-color:$znu-color-blue;
    position: relative;
    box-shadow: $znu-shadow-box;
    .znu-2016-main{
        background-color:$znu-color-blue;
    }
}

.znu-2016-overheader-row{
    @extend .row;

    margin-left:-1.5rem;
    margin-right:-1.5rem;

    @media (min-width: $screen-sm--min){
        margin-left:-1rem;
        margin-right:-1rem;
    }


    @media (min-width: $screen-lg-min){
        margin-left:-1rem;
        margin-right:-1rem;
    }

    .icon{
        border-bottom-width:0;
        &:hover, &:active, &:focus{
            border-bottom-width:0;
        }
        img{
            height:2rem;
        }
    }
    .glyph{
        @include link-style($znu-color-white, $znu-color-sand-light1, $znu-color-white);
        display:inline-block;
        // width:2rem;
        // height:1rem;
        font-size:1.3rem;
        border-bottom-width:0;
        margin-top:0.1rem;
        vertical-align: middle;
        &:hover, &:active, &:focus, &:link{
             border-bottom-width:0;
         }
    }

    .skin-selector-container{
        @extend .btn-group;

        margin-left: 0rem;
        margin-right: 0rem;
	@media (min-width: $screen-sm--min){
    	    margin-left:1rem;
    	    margin-right:1rem;
	}

        .skin-selector{
            @extend .btn;
            @extend .btn-default;
            @extend .dropdown-toggle;
            .caret{
                margin-left:0.5rem;
            }
            padding:2px 1rem;
            background-color:$znu-color-blue;
            color:$znu-color-white;
	    border-color:$znu-color-blue;
	    &:hover, &:focus, &:active{
		background-color:$znu-color-blue;
		border-color:$znu-color-blue;
		color:$znu-color-white;
	    }
	    &:hover{
		color:$znu-color-sand-light1;
	    }
	    .dropdown-menu{
		border:none;
	    }

	
        }

    }
    
    .lang{
        display:inline-block;
        @include link-style($znu-color-white,$znu-color-sand-light1, $znu-color-white);
        display:inline-block;
        line-height:1.5rem;
        color:$znu-color-white;
        font-size:1.2rem;



        vertical-align: middle;
        cursor:pointer;

	margin-right:0rem;
        font-size:1rem;
	@media (min-width: $screen-sm--min){
	    margin-right:0.5rem;
	    font-size:1rem;
	}

        &.active{
            font-size:2rem;
            line-height: 2rem;
            margin-top: -6px;
            border-bottom:none;
	    cursor:default;
        }

    }

    .search{
        vertical-align: middle;
        white-space: nowrap;
        position: relative;
        float: right;

        i{
            position: relative;
            margin-top: 0.4rem;
            color: $znu-color-white;
        }

        @media (min-width: $screen-xs-min){
	    width:10rem;
        }

        @media (min-width: $screen-sm--min){
	    width:15rem;
        }

        @media (min-width: $screen-sm-min){
	    width:12rem;
        }

        @media (min-width: $screen-md-min){
	    width:15rem;
        }

	input#search{
    	    height: 1.8rem;
    	    background: $znu-color-blue-light;
    	    border: none;
    	    float: left;
    	    color: $znu-color-white;
    	    padding-left: 1.5rem;
    	    margin-left: 1rem;
    	    margin-right: -2rem;


    	    @media (min-width: $screen-xs-min){
		width:9rem;
    	    }

    	    @media (min-width: $screen-sm--min){
		width:14rem;
    	    }

    	    @media (min-width: $screen-sm-min){
		width:11rem;
    	    }

    	    @media (min-width: $screen-md-min){
		width:14rem;
    	    }
	}


    }
    .button{
        background-color:$znu-color-blue-light;
        border: none;
        &.hover{
            color:$znu-color-white-light;
        }
    }
    input[type="search"]::-webkit-input-placeholder {color:$znu-color-white; opacity: 0.5}
    input[type="search"]::-moz-placeholder          {color:$znu-color-white; opacity: 0.5}/* Firefox 19+ */
    input[type="search"]:-moz-placeholder           {color:$znu-color-white; opacity: 0.5}/* Firefox 18- */
    input[type="search"]:-ms-input-placeholder      {color:$znu-color-white; opacity: 0.5}

}


.znu-2016-overheader-col1{
    @include make-xs-column(12);
    @include make-sm-column(6);
    @include make-md-column(5);
    @include make-lg-column(5);

    padding-top:0.5rem;
    padding-bottom:0.5rem;


    padding-left:0.5rem;
    padding-right:0.5rem;
    @media (min-width: $screen-sm--min){
        padding-left:inherit;
        padding-right:inherit;
    }
    @media (max-width: $screen-sm-min - 1px) {
        display:inline-block;
        width:auto;
    }
    
}


.znu-2016-overheader-col2{

    @include make-xs-column(12);
    @include make-sm-column(6);
    @include make-md-column(7);
    @include make-lg-column(7);

    padding-bottom:0.5rem;
    padding-top:0.5rem;

    padding-left:0.5rem;
    padding-right:0.5rem;
    @media (min-width: $screen-sm--min){
        padding-left:inherit;
        padding-right:inherit;
    }



    text-align:right;
    @media (max-width: $screen-sm-min - 1px) {
        text-align:left;
        display:inline-block;
        width:auto;
    }
}


.znu-2016-header {
    @extend .row;

    background-color: $znu-color-white;
    padding-bottom: 1rem;
    padding-top: 0.7rem;
    box-shadow: $znu-shadow-box;
    border-radius: 0rem 0rem 0.1rem 0.1rem;
    position:relative;

    margin-left: -2rem;
    margin-right: -2rem;

    @media (min-width: $screen-sm--min){
        margin-left: -1.5rem;
        margin-right: -1.5rem;
    }

    @media (min-width: $screen-sm-min){
        margin-left: -2.0rem;
        margin-right: -2.0rem;
    }

    @media (min-width: $screen-lg-min){
        margin-left: -1rem;
        margin-right: -1rem;
    }
    .znu-2016-header-logo {
        @include make-xs-column(12);
        @include make-sm-column(12);
        @include make-md-column(12);
        @include make-lg-column(12);

        @media (min-width: $screen-xs-min){
            padding-left: 1rem;
            padding-right: 1rem;
        }

	@media (min-width: $screen-sm-min){
            padding-left: 1rem;
            padding-right: 1rem;
        }

        @media (min-width: $screen-lg-min){
            padding-left: 2rem;
            padding-right: 2rem;
        }


	.w1{
		a{
		    font-size: 1.0rem;
		    @include link-style($znu-color-blue, $znu-color-blue-light-link, $znu-color-blue);
		}
	}


	@media (min-width: $screen-sm--min){
	    .w1{
		float:right;
		margin-right: 1rem;
	    }
	}


	@media (min-width: $screen-sm-min){
	    .w1{
		a{
		    font-size: 1.3rem;
		}
	    }
	}



        .znu-2016-logo {
            display: inline-block;
            float: left;

            background-image: url($resourse-root-url +  '/img/logoznu.png');
            //background-size: 8rem;
            background-position: center top;            

            @media (min-width: $screen-xs-min) {
		display:none;
            }

            @media (min-width: $screen-sm-min) {
		display:block;
		background-size: 7.2rem auto;
		height: 7.2rem;
		margin-bottom: 1rem;
		margin-top: 2.9rem;
		width: 7rem;
            }

            @media (min-width: $screen-md-min) {
		background-size: 8rem auto;
		height: 8rem;
		margin-bottom: 1rem;
		margin-top: 2.6rem;
		width: 7rem;
            }

            @media (min-width: $screen-lg-min) {
                margin-top: 3.4rem;
                margin-bottom: 1rem;
                width: 8rem;
                height: 9rem;
                background-size: 9rem;

            }
        }

        .znu-2016-title-block {

            .w {
                display: block;
            }

            @media (min-width: $screen-xs-min) {
                margin-left:0rem;
            }

	    //@media (min-width: $screen-sm--min) {
            //    margin-left:7rem;
	    //    margin-top:2.2rem;
	    //}
            @media (min-width: $screen-sm-min) {
                margin-left: 8rem;
                margin-top: 2rem;
            }
            @media (min-width: $screen-md-min) {
		margin-left: 8rem;
		margin-top: 1.8rem;
            }

            @media (min-width: $screen-lg-min) {
                margin-left: 9rem;
                margin-top: 2rem;
            }


            .znu-2016-title {

                color: $znu-color-blue;
                display: inline;
                @include link-style($znu-color-blue, $znu-color-blue, $znu-color-blue);
                border-bottom-width: 0;
                &:hover, &:active, &:focus, &:link {
                    border-bottom-width: 0;
                }

                @media (min-width: $screen-xs-min) {
                    //font-size: 2.3rem;
                    //line-height: 2.8rem;
		    font-size: 1.7rem;
		    line-height: 2.1rem;
                }
                @media (min-width: $screen-sm-min) {
                    font-size: 2.3rem;
                    line-height: 2.8rem;
                }
                @media (min-width: $screen-md-min) {
                    font-size: 2.9rem;
                    line-height: 3rem;
                }
                @media (min-width: $screen-lg-min) {
                    font-size: 2.9rem;
                    line-height: 3.7rem;
                }

            }
            .znu-2016-remark {
                @include link-style($znu-color-blue, $znu-color-blue-light-link, $znu-color-blue);
                font-size: 1.5rem;
                vertical-align: top;
                display: inline-block;
                border: none;
                @media (min-width: $screen-sm-min) {
                    padding-top: 0.1rem;
                }

                @media (min-width: $screen-md-min) {
                }

                @media (min-width: $screen-lg-min) {
                    font-weight:500;
                }
            }
        }

    }
}
// =========== header and top navigation = end ============

// =========== navigation bar =============================

.znu-2016-nav{
    @extend .row;
    text-align: center;

    padding-top: 1rem;
    padding-bottom: 1rem;

    margin-left:-3rem;
    margin-right:-3rem;
    @media (min-width: $screen-sm--min){
	margin-left:-2.0rem;
	margin-right:-2.0rem;
    }
    @media (min-width: $screen-sm-min){
	margin-left:-2.5rem;
	margin-right:-2.5rem;
    }
    @media (min-width: $screen-lg-min){
	margin-left:-1.5rem;
	margin-right:-1.5rem;
    }

    .link {
        @include make-xs-column(12);
	@include make-custom-column(6,$screen-sm--min);
        @include make-sm-column(4);
        @include make-md-column(4);
        @include make-lg-column(4);
        padding-left:0px;
        padding-right:0px;

        a {
            // common properties
            display: block;
            text-decoration:none;


	    // tiny screens
            text-align: left;
	    margin: 0.2rem 1rem 0.2rem 1rem;
            i {
                font-size: 1.3rem;
            }



	    padding-top:0.2rem;
	    padding-left:1rem;
	    padding-right:1rem;
	    padding-bottom:0.2rem;
	    br{display:none;}
	    .text{
		//margin-left:1rem;
	    }
            .fa{
		display:inline-block;
		width:2rem;
	    }

            @media (min-width: $screen-sm--min) {
                overflow: hidden;
                text-align: center;
                margin: 0.5rem 0.5rem 0.5rem 0.5rem;
		padding-left:inherit;
		padding-right:inherit;

                line-height:1.8rem;
                .fa{
		    display:none;
                }
                .text {
                    font-size: 1.4rem;
                    display: block;
                    margin-top: 0.85rem;
                    margin-bottom: 0.80rem;
		    margin-left:0px;
                }
		.text.two-rows{
		    font-size: 1.0rem;
		    line-height: 1.2rem;
                    margin-top: 0.5rem;
                    margin-bottom: 0.5rem;
		}

		br{display:inherit;}

            }
        }
        .color1 {
            border-radius: $znu-border-radius;
            @include link-style($znu-color-blue, $znu-color-chocolate , $znu-color-blue);
            background-color: $znu-color-blue-bak;//$znu-color-yellow-light ;//$znu-color-blue-links-light-3;//$znu-color-blue;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	    opacity:0.9;

	    .lnk-text{
		color:$znu-color-blue-dark;
		border-bottom:1px solid rgba(red($znu-color-blue-dark), green($znu-color-blue-dark), blue($znu-color-blue-dark), 0.3);
	    }

            &:hover {
		opacity:1;
		.lnk-text{
		    color:$znu-color-chocolate;//$znu-color-blue-light-link;
		    border-bottom-color:$znu-color-chocolate;// $znu-color-blue-light-link;
		}
            }
        }
        .color2 {
	    border-radius: $znu-border-radius;
            @include link-style($znu-color-blue, $znu-color-chocolate , $znu-color-blue);
            background-color: $znu-color-blue-links-light-3;//$znu-color-green-light;//$znu-color-blue;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	    opacity:0.9;

	    .lnk-text{
		color:$znu-color-blue-dark;
		border-bottom:1px solid rgba(red($znu-color-blue-dark), green($znu-color-blue-dark), blue($znu-color-blue-dark), 0.3);
	    }
            &:hover {
		opacity:1;
		.lnk-text{
		    color:$znu-color-chocolate;//$znu-color-blue-light-link;
		    border-bottom-color:$znu-color-chocolate;//$znu-color-blue-light-link;
		}
            }
        }

        .color3 {

	    border-radius: $znu-border-radius;
            @include link-style($znu-color-blue, $znu-color-chocolate, $znu-color-blue);
            background-color: $znu-color-blue-links-light-4;//$znu-background-color;//$znu-color-sand-light1;// $znu-color-blue-bak;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	    opacity:0.9;

	    .lnk-text{
		color:$znu-color-blue-dark;
		border-bottom:1px solid rgba(red($znu-color-blue-dark), green($znu-color-blue-dark), blue($znu-color-blue-dark), 0.3);
	    }
            &:hover {
		opacity:1;
		.lnk-text{
		    color:$znu-color-chocolate;//$znu-color-blue-light-link;
		    border-bottom-color:$znu-color-chocolate;//$znu-color-blue-light-link;
		}
            }
        }
        .color4 {
            border-radius: $znu-border-radius;
            background-color: $znu-color-white;
            color: $znu-color-blue;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
            &:hover {
                box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
                //-webkit-transform: scale(1.01);
                //transform: scale(1.01);
            }
        }
    }
}
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// =============== front page slider = begin =================
.znu-2016-slider{


    @extend .row;


    margin-top: 1em;

    margin-left:-1rem;
    @media (min-width: $screen-xs-min) {
	margin-left:-2rem;
	margin-right:-2rem;
    }
    @media (min-width: $screen-sm--min) {
	margin-left:-1.5rem;
	margin-right:-1.5rem;
    }
    @media (min-width: $screen-sm-min) {
	margin-left:-2.0rem;
	margin-right:-2.0rem;
    }


    @media (min-width: $screen-lg-min) {
	margin-left:-1.0rem;
	margin-right:-1.0rem;
    }


    .znu-2016-slider-col{
        @include make-xs-column(12);
        @include make-sm-column(12);
        @include make-md-column(12);
        @include make-lg-column(12);
        position:relative;

        box-shadow: $znu-shadow-box;
        padding-left:0rem;
        padding-right:0rem;

        .carousel-control{
            border-radius: $znu-border-radius;
        }

        &.carousel{
            .container{
                padding-left:0rem;
            }
            @media (min-width: $screen-xs-min) {
                height:24rem;
            }
            @media (min-width: $screen-sm-min) {
                height:30rem;
            }
            @media (min-width: $screen-md-min) {
                height:30rem;
            }
            @media (min-width: $screen-lg-min) {
                height:34rem;
            }
        }

        .znu-2016-carousel-image{

            @media (min-width: $screen-xs-min) {
                height:24rem;
            }
            @media (min-width: $screen-sm-min) {
                height:30rem;
            }
            @media (min-width: $screen-md-min) {
                height:30rem;
            }
            @media (min-width: $screen-lg-min) {
                height:34rem;
            }
            display: block;
            width:100%;
            background-size:cover;
            background-position:center center;
            background-repeat:no-repeat;
            border-radius: $znu-border-radius;
        }
        .carousel-caption{
            right:0;
            left:0;
            background-color:$znu-color-white-light1;
            color:$znu-color-blue;
            text-shadow:none;
            box-shadow: $znu-shadow-box;
            border-radius: $znu-border-radius;

            bottom:3rem;
            width:100%;
            margin:0 0 0 0;

            h1{
		a{text-decoration:none;}
                @media (min-width: $screen-xs-min) {
                    font-size:1.1rem;
                }

                @media (min-width: $screen-sm--min) {
                    font-size:1.2rem;
                }

                @media (min-width: $screen-sm-min) {
                    font-size:140%;
                }
                @media (min-width: $screen-md-min) {
                    font-size:140%;
                }
                @media (min-width: $screen-lg-min) {
                    font-size:180%;
                }
                margin-top:0.2rem;
            }
            .btn{

                @media (min-width: $screen-xs-min) {
                    font-size:0.8rem;
                }

                font-size:100%;
                border: 0rem;
                border-radius: $znu-border-radius;
                color: #fff;
                background-color: $znu-color-blue-news-1;
                box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
                &:hover {
                    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
                    background-color: rgba(76,105,195,0.8);
                }
            }
            font-size:80%;
            padding-left:1rem;
            padding-right:1rem;

            @media (min-width: $screen-xs-min) {
                bottom:3.5rem;
                width:80%;
                margin:0 10% 0 10%;
                font-size:1.2rem;
            }

            @media (min-width: $screen-sm-min) {
                bottom:3.5rem;
                width:80%;
                margin:0 10% 0 10%;
                font-size:1.2rem;
            }

            @media (min-width: $screen-md-min) {
                bottom:3.5rem;
                width:80%;
                margin:0 10% 0 10%;
            }

            @media (min-width: $screen-lg-min) {
                bottom:40px;
                width:80%;
                margin:0 10% 0 10%;
            }
        }
        .carousel-indicators{
            bottom:0;
            margin-bottom:0px;
            li{
                border: none;
                background-color:$znu-color-white-light1;
                height: 1.5rem;
                width: 1.5rem;
            }
            .active {
                border: none;
                height: 1.6rem;
                width: 1.6rem;
                background-color: $znu-color-blue;
            }
        }
    }
}
// =============== front page slider = end ====================


// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// ================== events = begin =======================

.znu-2016-block-news{
    @extend .row;

    @media (min-width: $screen-xs-min) {
	margin-left:-2.0rem;
	margin-right:-2.0rem;
    }
    @media (min-width: $screen-sm--min) {
	margin-left:-1.5rem;
	margin-right:-1.5rem;
    }
    @media (min-width: $screen-sm--min) {
	margin-left:-2rem;
	margin-right:-2rem;
    }
    @media (min-width: $screen-lg-min) {
	margin-left:-1.0rem;
	margin-right:-1.0rem;
    }



    h3{
        @include make-xs-column(12);
        @include make-sm-column(12);
        @include make-md-column(12);
        @include make-lg-column(12);
        color:$znu-color-blue;
        text-align: center;
        margin-top:10pt;
        margin-bottom:10pt;
        .remark{
            @include link-style($znu-color-blue, $znu-color-blue-light-link, $znu-color-blue);
            display:inline-block;
            vertical-align:top;
            font-size:1.2rem;
            //margin-top:0.5rem;
        }
        a{
            @include link-style($znu-color-blue, $znu-color-blue-light-link, $znu-color-blue);
        }
    }
    .row{
        margin-left:-1rem;
        margin-right:-1rem;
    }
    .znu-2016-block-new-one{
        @include make-xs-column(12);
        @include make-sm-column(6);
        @include make-md-column(6);
        @include make-lg-column(4);

        padding-left:1rem;
        padding-right:1rem;
        

        .znu-2016-block-new-one-content{
            box-shadow: $znu-shadow-box;
            background-position:center center;
            background-size:cover;
            border-radius: $znu-border-radius;
	    position:relative;

            margin:1rem 0;
            padding:1rem;

            height: 13rem;
            font-size:1.3rem;
            //@media (min-width: $screen-sm-min) {
            //}
            //@media (min-width: $screen-md-min) {
            //}
            //@media (min-width: $screen-lg-min) {
            //}

            &:after{
                content:"";
                display:block;
                font-size:0px;
                clear:left;
            }
            .znu-2016-block-new-icon{
		display:none;
                //float:right;
                //width:4rem;
                //height:4rem;
                //display:block;
		//margin-left:1rem;
		//margin-top:0.3rem;
                //border: 4px solid $znu-color-white ;
		//position:absolute;
		//top:1rem;
		//right:1rem;
                //background-size:cover;
                //background-position:center center;
                //&:hover{
                   // border:none;
                //}    
                //&:visited{
                   // border:none;
                //}    
            }
            .znu-2016-block-new-title{
                display:block;
                // margin-left:10rem;
                overflow:hidden;
                height:9.7rem;

                //@media (min-width: $screen-sm-min) {
                //}
                //@media (min-width: $screen-md-min) {
                //}
                //@media (min-width: $screen-lg-min) {
                //}

                a{
                    @include link-style($znu-color-black,$znu-color-chocolate, $znu-color-black);
                }

		//&:before{
		//    display:block;
		//    content:" ";
		//    float:right;
		//    width:4rem;
		//    height:4rem;
		//    margin-left:1rem;
		//}

            }
            .znu-2016-block-new-title-odd{
                display:block;
                overflow:hidden;
                height:9.7rem;
		.a-container{
			display:block;
			border:none;
			padding-left:1rem;
			padding-bottom:1rem;
			//background-color:$znu-color-white-light1;
			.link-text{
			    @include link-style($znu-color-black, $znu-color-chocolate, $znu-color-black);
			}
			&:hover{
			    text-decoration:none;
			}
		}

                //@media (min-width: $screen-sm-min) {
                //}
                //@media (min-width: $screen-md-min) {
                //}
                //@media (min-width: $screen-lg-min) {
                //}
            }
            .date-container{
                text-align: right;
                font-size: 1rem;
            }
        }

	&:nth-child(2),&:nth-child(4),&:nth-child(6){
            .znu-2016-block-new-one-content{
                padding-left:0rem;
		.date-container .date-text{
		    display:inline-block;
		    padding-left:1rem;
		    padding-right:1rem;
		    //background-color:$znu-color-white-light1;
		    color:$znu-color-black;
		}
	    }
	}

        &:nth-child(1){
            .znu-2016-block-new-one-content{
                background-color:$znu-color-blue-links-light-3;
            }
        }
        &:nth-child(2){
            .znu-2016-block-new-one-content{
                background-color:$znu-color-blue-news-2;
            }
        }
        &:nth-child(3){
            .znu-2016-block-new-one-content{
                background-color:$znu-color-blue-news-3;
            }
        }
        &:nth-child(4){
            .znu-2016-block-new-one-content{
                background-color:$znu-color-white-light;
            }
        }
        &:nth-child(5){
            .znu-2016-block-new-one-content{
                background-color:$znu-color-blue-news-2;
            }

        }
        &:nth-child(6){
            .znu-2016-block-new-one-content{
                background-color:$znu-color-blue-news-2;
            }
        }


    }

}
// ================== events = end =========================




// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// ====================== footer = begin =====================
.znu-2016-footer-bg{
    background-color:$znu-color-blue;
    .znu-2016-main{
        background-color:$znu-color-blue;

	padding-left:0rem;
	padding-right:0rem;
	margin-left:0rem;
	margin-right:0rem;

        @media (min-width: $screen-sm--min) {
	    padding-left:1rem;
	    padding-right:1rem;
	    margin-left:0rem;
	    margin-right:0rem;
        }


	.znu-2016-block-footer{
	    @extend .row;
	    border-top: 1px solid rgba(56, 82, 166, 0.5);
	    padding-top:1rem;
	    padding-bottom:1rem;
	    margin-right:0rem;
	    img{
	        width: 7rem;
	        float: right;
	    }
	}

    }
}
.znu-2016-block-footer-col{
    @include make-xs-column(12);
    @include make-sm-column(6);
    @include make-md-column(6);
    @include make-lg-column(6);

    color:$znu-color-white;
    font-size: 1.2rem;
    
    a{
        display:inline-block;
        text-decoration:none;
        @include link-style($znu-color-white,$znu-color-blue-light-link, $znu-color-white);
        line-height:2rem;
        font-size:1.2rem;
    }

    .social{
        font-size: 2rem;
        margin: 0 0.5rem 0 0.5rem;
    }
}
// ====================== footer = end =======================





// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// ====================== bottom links = begin ===============

.znu-2016-block-links{
    @extend .row;

    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: -3rem;
    margin-right: -3rem;

    @media (min-width: $screen-lg-min) {
        margin-left: -2rem;
	margin-right: -2rem;
    }

    .znu-2016-block-banner{
        //padding-bottom:1rem;
        //margin-bottom: 1rem;
    }
    .znu-2016-one-banner{
        @include make-xs-column(12);
        @include make-sm-column(6);
        @include make-md-column(6);
        @include make-lg-column(3);
        
        margin: 1rem 0 1rem 0;
        display: block;

        img {
            max-width:100%;
        }
        a{
            border-radius: $znu-border-radius;
            background-color: $znu-color-blue;
            box-shadow: $znu-shadow-box;
            display: inline-block;
            width:96%;
            padding:0.5rem 2%;
            text-align:center;
            height:6rem;
        }
    }
}

.znu-2016-block-links-col{
    @include make-xs-column(12);
    @include make-sm-column(6);
    @include make-md-column(6);
    @include make-lg-column(6);
    //margin-bottom:2rem;
    padding: 0rem 0rem 0rem 0rem;
    margin: 0rem 0rem 1rem 0rem;

    .znu-2016-block-links-one-column {
        background-color: $znu-color-white;
        box-shadow: $znu-shadow-box;
        border-radius: $znu-border-radius;
        padding: 1rem 1rem 1rem 1rem;
        margin: 1rem 1rem 1rem 1rem;

        @media (min-width: $screen-sm-min) {
            min-height: 47rem;
        }
        @media (min-width: $screen-md-min) {
            min-height: 40rem;
        }
	line-height:2rem;
    }
    h3.color1 {
        color: $znu-color-blue-links-1;
        padding-bottom: 1.5rem;
        //border-bottom: 1px solid $znu-color-blue-links-light-1;
        font-size: 1.7rem;
    }

    h3.color2 {
        color: $znu-color-blue-links-2;
        padding-bottom: 1.5rem;
        //border-bottom: 1px solid $znu-color-blue-links-light-2;
        font-size: 1.7rem;
    }
    h3.color3 {
        color: $znu-color-blue-nav-2;
        padding-bottom: 1.5rem;
        //border-bottom: 1px solid $znu-color-blue-links-light-3;
        font-size: 1.7rem;
    }
    h3.color4 {
        color: $znu-color-blue-links-4;
        padding-bottom: 1.5rem;
        //border-bottom: 1px solid $znu-color-blue-links-light-4;
        font-size: 1.7rem;
    }
    h3 {
        color: $znu-color-blue;
        padding-bottom: 1.5rem;
        //border-bottom: 1px solid rgba(56, 82, 166, 0.5);
        font-size: 1.7rem;
    }
    ul {
        padding-left: 0;
        list-style: none; //outside none circle !important;
        color: rgb(255 255 225, 0.2);
    }
    .znu-2016-block-links-one {
        margin-bottom: 1rem;
        a {
            @include link-style($znu-color-blue, $znu-color-blue-light-link, $znu-color-blue);
            text-decoration: none;
            font-size: 1.2rem;
        }
    }
    .znu-2016-block-links-one-color1 {
        margin-bottom: 1.0rem;
        a {
            @include link-style($znu-color-blue-links-1, $znu-color-blue-light-link, $znu-color-blue-links-1);
            text-decoration: none;
            font-size: 1.2rem;
        }
    }
    .znu-2016-block-links-one-color2 {
        margin-bottom: 1.0rem;
        a {
            @include link-style($znu-color-blue-links-2, $znu-color-blue-light-link, $znu-color-blue-links-2);
            text-decoration: none;
            font-size: 1.2rem;
        }
    }
    .znu-2016-block-links-one-color3 {
        margin-bottom: 1.0rem;
        a {
            @include link-style($znu-color-blue-nav-2, $znu-color-blue-light-link, $znu-color-blue-nav-2);
            text-decoration: none;
                font-size: 1.2rem;
        }
    }
    .znu-2016-block-links-one-color4 {
        margin-bottom: 1.0rem;
        a {
            @include link-style($znu-color-blue-links-4, $znu-color-blue-light-link, $znu-color-blue-links-4);
            text-decoration: none;
            font-size: 1.2rem;
        }
    }
}
// ====================== bottom links = end =================








// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// ============= banners = begin =============================

// ============= banners = end ===============================

// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// ============= page = begin ================================
.znu-2016-block-page {
    @extend .row;
    //margin-bottom: 1rem;

    margin-left: -2rem;
    margin-right: -2rem;
    @media (min-width: $screen-sm--min) {
        margin-left: -1.5rem;
        margin-right: -1.5rem;
    }
    @media (min-width: $screen-sm-min) {
        margin-left: -2rem;
        margin-right: -2rem;
    }
    @media (min-width: $screen-lg-min) {
        margin-left: -1rem;
        margin-right: -1rem;
    }




    // есть позразделы и содержание
    .znu-2016-breadcrumbs-ch-content{
        @include make-xs-column(12);
        @include make-sm-column(12);
        @include make-md-column(7);
        @include make-lg-column(8);
        float:right!important;
    }

    // есть только позразделы
    .znu-2016-breadcrumbs-ch-nocontent{
        @include make-xs-column(12);
        @include make-sm-column(12);
        @include make-md-column(12);
        @include make-lg-column(12);        
    }

    // есть только содержание
    .znu-2016-breadcrumbs-noch-content{
        @include make-xs-column(12);
        @include make-sm-column(12);
        @include make-md-column(12);
        @include make-lg-column(12);        
    }

    .znu-2016-breadcrumbs {
        margin-bottom: 1rem;
        padding-right: 0;
        padding-left: 0;
        position: relative;
        .znu-2016-breadcrumbs-col {
            background-color: rgba(255, 255, 255, 0.5);

    	    padding: 1rem 1rem 1rem 1rem;
    	    @media (min-width: $screen-sm--min) {
        	padding: 1rem 1rem 1rem 1rem;
            }
            box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.14);
            border-radius: $znu-border-radius;
	    line-height:2rem;
            a {
                @include link-style($znu-color-blue, $znu-color-blue-light-link, $znu-color-blue);
                font-size: 1.2rem;
            }
            span{
                font-size:1.2rem;
            }
            .current {
            }
        }
    }

    // есть позразделы и содержание
    .znu-2016-block-page-content-ch-content{
        @include make-xs-column(12);
        @include make-sm-column(12);
        @include make-md-column(7);
        @include make-lg-column(8);

        border-radius: $znu-border-radius;

        &.offset{
            // @include make-xs-column-offset(12);
            // @include make-sm-column-offset(3);
            @include make-md-column-offset(5);
            @include make-lg-column-offset(4);
        }
    }

    // есть только позразделы
    .znu-2016-block-page-content-ch-nocontent{
        @include make-xs-column(12);
        @include make-sm-column(12);
        @include make-md-column(12);
        @include make-lg-column(12);
    }
    // есть только содержание
    .znu-2016-block-page-content-noch-content{
        @include make-xs-column(12);
        @include make-sm-column(12);
        @include make-md-column(12);
        @include make-lg-column(12);        
    }

    .znu-2016-block-page-content {

        border-radius: $znu-border-radius;
        font-size: 1.2rem;
        line-height: 2.3rem;



        @media (min-width: $screen-xs-min) {
            padding-right: 1rem;
            padding-left: 1rem;
            padding-bottom: 1rem;
            h2{
                font-size: 1.5rem;
		margin-top:1rem;
		margin-bottom:0.5rem;
            }
        }

        @media (min-width: $screen-sm--min) {
            padding-right: 1rem;
            padding-left: 1rem;
            h2{
                font-size: 2.3rem;
            }
        }

        @media (min-width: $screen-sm-min) {
            padding-right: 1rem;
            padding-left: 1rem;
        }

        @media (min-width: $screen-md-min) {
            padding-right: 1rem;
            padding-left: 1rem;
        }

        @media (min-width: $screen-lg-min) {
            padding-right: 1rem;
            padding-left: 1rem;

            h2{
                font-size: 2.5rem;
            }
        }
        h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
            line-height: 130%;
	    //margin-bottom: 2rem;
	    //margin-top: 2rem;
        }

        a {
            @include link-style($znu-color-blue, $znu-color-blue-light-link, $znu-color-blue);
        }
	p {
	    margin: 0 0 2rem;
	}
        .znu-2016-page-header {

            .znu-2016-block-page-header {
                h1 {
                    font-size: 2rem;
		    margin-top:1.5rem;
		    margin-bottom:1.0rem;
                    @media (min-width: $screen-sm--min) {
                        font-size: 2.5rem;
			margin-top:1.5rem;
			margin-bottom:1.0rem;
                    }
                    @media (min-width: $screen-sm-min) {
                        font-size: 3rem;
			margin-top:2.5rem;
			margin-bottom:2.0rem;
                    }
                    @media (min-width: $screen-md-min) {
                        font-size: 3rem;
                    }
                    @media (min-width: $screen-lg-min) {
                        font-size: 3rem;
                    }
                }
            }
        }
        .search{
            vertical-align: middle;
            white-space: nowrap;
            position: relative;

    	    padding: 1.3rem 2.5rem 0.5rem 0.5rem;
            @media (min-width: $screen-sm--min) {
                float: right;
	        padding: 1.3rem 0.5rem 0.5rem 0.5rem;
            }

	    input#search{
		height: 2.2rem;
		background: $znu-color-white-light;
		border: 1px solid $znu-color-blue-nav-1;
		float: left;
		color: $znu-color-blue;
		padding: 0 0 0 1rem;
        	
		width: 10rem;
        	@media (min-width: $screen-sm--min) {
		    width: 15rem;
        	}
	    }
            .button{
                background-color:$znu-color-blue-a;
                padding-bottom: 3px;
                border: none;
                height: 2.2rem;
		line-height:0rem;
                font-size: 1.5rem;
                i{
                    color: $znu-color-white;
                    position: relative;
                    margin-top: 0.4rem;
                    font-size: 1.2rem;
                }
            }
        }

        input[type="search"]::-webkit-input-placeholder {color:$znu-color-blue-light; opacity: 0.5}
        input[type="search"]::-moz-placeholder          {color:$znu-color-blue-light; opacity: 0.5}/* Firefox 19+ */
        input[type="search"]:-moz-placeholder           {color:$znu-color-blue-light; opacity: 0.5}/* Firefox 18- */
        input[type="search"]:-ms-input-placeholder      {color:$znu-color-blue-light; opacity: 0.5}

        background-color: $znu-color-white;
        margin-bottom: 1rem;
        box-shadow: $znu-shadow-box;

        .highlight {
            padding: 1rem;
            margin: 0 0 1rem 0;
            ul {
                list-style: none;
                padding-left: 0rem;
            }
            @media (min-width: $screen-sm-min) {
                width: 50%;
                float: right;
                margin: 0 0 2rem 2rem;
            }

            @media (min-width: $screen-md-min) {
                width: 35%;
            }

            @media (min-width: $screen-lg-min) {
                width: 35%;
            }

        }
        .highlight1 {
            background-color: $znu-color-blue-light2;

        }
        .highlight2 {
            background-color: $znu-color-green-light1;
            list-style: none;
        }
        .highlight3 {
            background-color: $znu-color-sand-light1;
            list-style: none;
        }

        .spoiler {
            display: none;
            padding: 1rem;
            height: 1rem;
            opacity: 0;
            overflow: hidden;
            transition: height 2s ease-in-out 0;
        }
        .spoiler.visible {
            display: block;
            height: auto;
            opacity: 1;
            transition: height 2s ease-in-out 0;
        }

        input[type="submit"] {
            background-color: $znu-color-blue-light1;
            color: $znu-color-white-light;
            &:hover, &:focus {
                background-color: $znu-color-blue-1;
            }
        }
        input[type="text"] {
            background-color: $znu-color-blue-light1;
            &:hover, &:focus {
                background-color: $znu-color-blue-light2;
            }
        }

        img {
            max-width: 100%;
            margin: 1rem 0 1rem 0;
        }
        img[align="right"] {
            margin: 0 0 2rem 2rem;
            clear: right;
        }
        img[align="left"] {
            margin: 0 2rem 2rem 0;
            clear: right;
        }
        .content-row {
            @extend .row;
            margin: 0rem;

            .left-col-2 {
                @include make-xs-column(12);
                @include make-sm-column(4);
                @include make-md-column(2);
                @include make-lg-column(2);
                padding-left: 0rem;

            }
            .right-col-10 {
                @include make-xs-column(12);
                @include make-sm-column(8);
                @include make-md-column(10);
                @include make-lg-column(10);
                padding-right: 0rem;

                @media (max-width: $screen-sm-min) {
                    padding-left: 0rem;
                }
            }


            .left-col-3 {
                @include make-xs-column(12);
                @include make-sm-column(4);
                @include make-md-column(3);
                @include make-lg-column(3);
                padding-left: 0rem;

            }
            .right-col-9 {
                @include make-xs-column(12);
                @include make-sm-column(8);
                @include make-md-column(9);
                @include make-lg-column(9);
                padding-right: 0rem;

                @media (max-width: $screen-sm-min) {
                    padding-left: 0rem;
                }
            }

            .left-col-4 {
                @include make-xs-column(12);
                @include make-sm-column(6);
                @include make-md-column(4);
                @include make-lg-column(4);
                padding-left: 0rem;
            }
            .right-col-8 {
                @include make-xs-column(12);
                @include make-sm-column(6);
                @include make-md-column(8);
                @include make-lg-column(8);
                padding-right: 0rem;
            }

            .left-col-5 {
                @include make-xs-column(12);
                @include make-sm-column(6);
                @include make-md-column(5);
                @include make-lg-column(5);
                padding-left: 0rem;
            }
            .right-col-7 {
                @include make-xs-column(12);
                @include make-sm-column(6);
                @include make-md-column(7);
                @include make-lg-column(7);
                padding-right: 0rem;
            }

            .left-col-6 {
                @include make-xs-column(12);
                @include make-sm-column(6);
                @include make-md-column(6);
                @include make-lg-column(6);
                padding-left: 0rem;
            }
            .right-col-6 {
                @include make-xs-column(12);
                @include make-sm-column(6);
                @include make-md-column(6);
                @include make-lg-column(6);
                padding-right: 0rem;
            }

            .left-col-7 {
                @include make-xs-column(12);
                @include make-sm-column(7);
                @include make-md-column(7);
                @include make-lg-column(7);
                padding-left: 0rem;
            }
            .right-col-5 {
                @include make-xs-column(12);
                @include make-sm-column(5);
                @include make-md-column(5);
                @include make-lg-column(5);
                padding-right: 0rem;
            }

            .left-col-8 {
                @include make-xs-column(12);
                @include make-sm-column(6);
                @include make-md-column(8);
                @include make-lg-column(8);
                padding-left: 0rem;
            }
            .right-col-4 {
                @include make-xs-column(12);
                @include make-sm-column(6);
                @include make-md-column(4);
                @include make-lg-column(4);
                padding-right: 0rem;
            }

            .left-col-9 {
                @include make-xs-column(12);
                @include make-sm-column(8);
                @include make-md-column(9);
                @include make-lg-column(9);
                padding-left: 0rem;
            }
            .right-col-3 {
                @include make-xs-column(12);
                @include make-sm-column(4);
                @include make-md-column(3);
                @include make-lg-column(3);
                padding-right: 0rem;
            }


            .left-col-10 {
                @include make-xs-column(12);
                @include make-sm-column(8);
                @include make-md-column(10);
                @include make-lg-column(10);
                padding-left: 0rem;
            }
            .right-col-2 {
                @include make-xs-column(12);
                @include make-sm-column(4);
                @include make-md-column(2);
                @include make-lg-column(2);
                padding-right: 0rem;
            }
        }

        .category-content{
            //margin: 0rem 2rem 2rem 2rem;
            a {
                @include link-style($znu-color-blue-2, $znu-color-blue-light-link);
            }
        }

        .data-container{
            text-align:right;
        }

        .news-block{
            @extend .row;

            h3{
                @include make-xs-column(12);
                .remark{
                    @include link-style($znu-color-blue, $znu-color-blue-light-link, $znu-color-blue);
                    display:inline-block;
                    vertical-align:top;
                    font-size:1.5rem;
                    margin-top:0.5rem;
                }
            }
            .news-block-one{
                @include make-xs-column(12);
                @include make-sm-column(6);
                @include make-md-column(3);
                @include make-lg-column(3);


                margin-bottom:2rem;
                .znu-2016-block-new-icon{

                    height:15rem;
                    background-position:center;
                    background-size:cover;


                    display:block;
                    @media (max-width: $screen-sm-min) {
                        display:none;
                    }
                }
                .znu-2016-block-new-title{
                    display:block;
                    @media (min-width: $screen-sm-min) {
                        height:9.5rem;
                        overflow:hidden;
                    }
                }
            }
        }

        .znu-2016-news{
            @extend .row;
            margin-left:0rem;
            }
            
            .znu-2016-new{
                @include make-xs-column(12);
                padding-left:0;
                padding-right:0;
                margin-bottom:1rem;
            }
            .znu-2016-new-img{
                @include make-xs-column(12);
                @include make-sm-column(6);
                @include make-md-column(3);
                @include make-lg-column(2);
                padding-right:0px;
                img{
                    @media (min-width: $screen-xs-min) {
                        width:auto;
                    }
                    @media (min-width: $screen-sm-min) {
                    }

                    @media (min-width: $screen-md-min) {
                    }

                    @media (min-width: $screen-lg-min) {
                    }
                    max-width:100%;
                }
		a{
		    border:none;
		}
            }
            .znu-2016-new-img-list-info{
                @include make-xs-column(12);
                @include make-sm-column(6);
                @include make-md-column(9);
                @include make-lg-column(10);
	        }
            
            .text{
                max-height:5.3rem;
                overflow:hidden;
            }
            .date-container{
                text-align:right;
            }
	    .d-container{
		bottom:0;
		position: absolute;
		right: 0;
		margin-bottom: 1rem;
		margin-right: 3rem;
		line-height: 1rem;
	    }
    }


    // есть позразделы и содержание
    .subcategories {
        @include make-xs-column(12);
        @include make-sm-column(12);
        @include make-md-column(5);
        @include make-lg-column(4);

        @media (min-width: $screen-xs-min){
            padding: 0 0 0 0;
            margin: 0 0 1rem 0;
            /*margin-bottom: 2rem;*/
        }

        @media (min-width: $screen-sm-min) {
            margin-bottom: 2rem;
            //padding-right: 2rem;
        }
        @media (min-width: $screen-md-min) {
            margin-bottom: 2rem;
            padding-right: 2rem;
        }
        @media (min-width: $screen-lg-min) {
            margin-bottom: 2rem;
            padding-right: 2rem;
        }

        margin-bottom: 2rem;
        .text{
            //padding: 0.5rem 2rem 0.5rem 2rem;
            @media (min-width: $screen-xs-min){
                font-size:130%;
            }
            @media (min-width: $screen-sm-min){
                font-size:130%;
            }
            @media (min-width: $screen-md-min){
                font-size:130%;
            }
            @media (min-width: $screen-lg-min){
                font-size:130%;
            }
        }
        #sub {
            background-color: $znu-color-white-light;
            height: 100%;
            box-shadow: $znu-shadow-box;
            padding: 0 0 1rem 0;
            border-radius: $znu-border-radius;
        }
        a {
            @include link-style($znu-color-blue, $znu-color-blue-light-link, $znu-color-blue);
            text-decoration: none;
        }
        .child, a{
            @media (min-width: $screen-xs-min){
                font-size:130%;
            }
            @media (min-width: $screen-sm-min){
                font-size:130%;
            }
            @media (min-width: $screen-md-min){
                font-size:130%;
            }
            @media (min-width: $screen-lg-min){
                font-size:130%;
            }            
        }
        ul {
            display: block;
            margin-bottom: 0rem;
            text-decoration: none;
            list-style: none;
        }
        li{
    	    padding: 0.5rem 1rem 0.5rem 1rem;
    	    @media (min-width: $screen-sm--min) {
        	padding: 0.5rem 1rem 0.5rem 1rem;
            }

            display: block;
            &:hover {
                background-color: #eeeeee;
                text-decoration: none;
		a{
		    color:$znu-color-blue-light-link;
		    border-color:$znu-color-blue-light-link;
		}
            }
        }
        //span{
        //    padding: 0.5rem 2rem 0.5rem 2rem;
        //    display: block;
        //}
        .category-child {
            .category-grandchildren {
                background-color: #f9f9f9;
                display: none;
                position: absolute;
                z-index: 100;
                width: 400px;
                left: 30px;
                li {
		    a{
                    font-size: 90%;
                    margin-bottom: 0.5rem;
                    text-decoration: none
		    }
                }
                /*li:hover {
                    background-color: #ddd;
                    text-decoration: none;
                }*/
                .more-grandchildren {
                    text-align: center;
                    &:hover {
                        background-color: $znu-color-green-light1;
                    }
                }
            }
            &:hover {
                .category-grandchildren {
                    display: block;
                    padding: 0 0 0 0;
                }
            }
        }
    }
}


// ============= page = end ==================================

