// parameters

$grid-gutter-width:4rem;

$icon-font-path:"./css/bootstrap-sass/fonts/bootstrap/";
$icon-font-name:'glyphicons-halflings-regular';

$screen-xs-min:320px;
$container-sm:$screen-xs-min - 20px;

$screen-sm-min:760px;
$container-sm:$screen-sm-min - 20px;

$screen-md-min:970px;
$container-md:$screen-md-min - 20px;

$screen-lg-min:1170px;
$container-lg:$screen-lg-min - 20px;

$font-size-base:10pt;

$znu-color-blue-bak: rgba(150, 175, 245, 0.16);
$znu-color-black:#000000;
$znu-color-blue:#3852A6;
$znu-color-blue-a:rgba(56, 82, 166, 0.88);
$znu-color-white:#ffffff;
$znu-color-blue-1:#337ab7;
$znu-color-blue-dark:#223264;


$znu-color-yellow:rgba(188, 241, 17, 0.4);
$znu-color-rose:rgba(234, 49, 182, 0.4);
$znu-color-green:rgba(76, 241, 224, 0.4); //#F0F2E5;

//$znu-color-sand-light1:#FEF5E6;


//$znu-color-green-light:#29C8B6;
//$znu-color-green-dark:#14645B;

//$znu-color-green:#23AA9C;
//$znu-color-rose:#BC127E;
//$znu-color-rose-dark:#640944;
//$znu-color-rose-light1:#FCBDE5;


$znu-shadow-box: 3px 3px 5px 2px rgba(0, 0, 0, 0.1), 3px 3px 5px 1px transparent;
$znu-shadow-box-inset: inset 3px 3px 5px 2px rgba(0, 0, 0, 0.1), inset 3px 3px 5px 1px transparent;
$znu-background-color: #f5f5f5;




//$font-family-sans-serif:"PT Sans", Helvetica, Arial, sans-serif;
$font-family-sans-serif: 'Roboto', sans-serif;

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('./css/bootstrap-sass/fonts/bootstrap/glyphicons-halflings-regular.eot');
    src: url('./css/bootstrap-sass/fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('./css/bootstrap-sass/fonts/bootstrap/glyphicons-halflings-regular.woff2') format('woff2'), url('./css/bootstrap-sass/fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff'), url('./css/bootstrap-sass/fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'), url('./css/bootstrap-sass/fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

// ====================================================

// imports
@import 'bootstrap-custom';




@mixin link-style($color-default, $color-active, $color-visited : $znu-color-rose-dark) {

	color:$color-default;
    &:link{
		color:$color-default;
		text-decoration:none;
    }

	text-decoration:none;
	transition: 0.4s;
    &:visited{
        text-decoration:none;
		color:$color-visited;
		transition: 0.8s;
    }

	&:hover, &:active, &:focus{
        text-decoration:none;
		color:$color-active;
		border-bottom:1px solid transparent;
		border-bottom-color:rgba(red($color-active), green($color-active), blue($color-active), 0.5)
    }
}

@mixin font-header{
	font-family: 'PT Sans Narrow', sans-serif;
}
@mixin font-plain{
	font-family: $font-family-sans-serif;
}

.znu-2016-main{
	@extend .container;

	.pagetop{
	    font-size:0;
	    position:absolute;
	}
}

body{
	background-color: $znu-background-color;
	background-size: cover;
	background-attachment: fixed;

}

// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// ++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// =========== header and top navigation = begin ==========


.znu-2016-overheader-bg{
	background-color:$znu-color-blue;
	box-shadow: $znu-shadow-box;
	.znu-2016-main{
		background-color:$znu-color-blue;
	}
}

.znu-2016-overheader-row{
	@extend .row;

	.icon{
		border-bottom-width:0;
		&:hover, &:active, &:focus{
			border-bottom-width:0;
		}
		img{
			height:2rem;
		}
	}
	.glyph{
		@include link-style($znu-color-white, $znu-color-blue-light1,$znu-color-white);
		display:inline-block;
		width:2.2rem;
		height:2.2rem;
		border-bottom-width:0;
		&:hover, &:active, &:focus, &:link{
			border-bottom-width:0;
		}
	}

	.lang{
		display:inline-block;
		@include link-style($znu-color-white,$znu-color-white, $znu-color-blue-light1);
		font-size:1.5rem;
		&.active{
			color:white;
		}
	}

	.search{
		vertical-align: middle;
		white-space: nowrap;
		position: relative;
		float: right;

		i{
			position: relative;
			margin-top: 0.4rem;
			color: white;
		}
	}
	.search input#search{

		height: 2.2rem;
		background: #3361B7;
		border: none;
		float: left;
		color: white;
		padding-left: 1.5rem;
		margin-left: 1rem;
		margin-right: -2rem;
	}
	input[type="search"]::-webkit-input-placeholder {color:white; opacity: 0.5}
	input[type="search"]::-moz-placeholder          {color:white; opacity: 0.5}/* Firefox 19+ */
	input[type="search"]:-moz-placeholder           {color:white; opacity: 0.5}/* Firefox 18- */
	input[type="search"]:-ms-input-placeholder      {color:white; opacity: 0.5}

}


.znu-2016-overheader-col1{
	@include make-xs-column(12);
	@include make-sm-column(4);
	@include make-md-column(3);
	@include make-lg-column(3);

	padding-top:0.5rem;
	padding-bottom:0.5rem;
	@media (max-width: $screen-sm-min - 1px) {
		display:inline-block;
		width:auto;
	}
}


.znu-2016-overheader-col2{

	@include make-xs-column(12);
	@include make-sm-column(8);
	@include make-md-column(9);
	@include make-lg-column(9);

	padding-bottom:0.5rem;
	padding-top:0.5rem;
	text-align:right;
	@media (max-width: $screen-sm-min - 1px) {
		text-align:left;
		display:inline-block;
		width:auto;
	}
}


.znu-2016-header {
	@extend .row;

	background-color: $znu-color-white;
	padding-bottom: 1rem;
	padding-top: 0.7rem;
	box-shadow: $znu-shadow-box;
	//margin-top:1rem;

	.znu-2016-header-logo {
		@include make-xs-column(12);
		@include make-sm-column(12);
		@include make-md-column(12);
		@include make-lg-column(12);

		.znu-2016-logo {
			display: inline-block;
			float: left;

			background-image: url(img/logoznu.png);
			background-size: 8rem;
			background-position: center top;

			@media (min-width: $screen-xs-min) {
				margin-top: 2rem;
				margin-bottom: 1rem;
				width: 8rem;
				height: 8rem;
			}

			@media (min-width: $screen-sm-min) {
				margin-top: 2rem;
				margin-bottom: 1rem;
				width: 8rem;
				height: 8rem;
			}

			@media (min-width: $screen-md-min) {
				margin-top: 2rem;
				margin-bottom: 1rem;
				width: 8rem;
				height: 8rem;
			}

			@media (min-width: $screen-lg-min) {
				margin-top: 1.4rem;
				margin-bottom: 1rem;
				width: 9rem;
				height: 8rem;
			}
		}

		.znu-2016-title-block {

			.w1{
				margin-left: 1rem;
			}

			@media (min-width: $screen-xs-min) {
				margin-left: 9rem;
				margin-top: 1.3rem;
				.w {
					display: inline-block;
				}
			}

			@media (min-width: $screen-sm-min) {
			margin-left: 9rem;
			margin-top: 1.3rem;
				.w {
					display: inline;
				}
			}
			@media (min-width: $screen-md-min) {
				margin-left: 7rem;
				margin-top: 1.3rem;
				.w {
					display: inline;
				}
			}

			@media (min-width: $screen-lg-min) {
				margin-left: 10rem;
				margin-top: 1.3rem;
				.w {
					display: inline;
				}
			}
			.znu-2016-title {

				color: $znu-color-blue;
				display: inline;
				@include link-style($znu-color-blue, $znu-color-blue-1, $znu-color-blue);
				border-bottom-width: 0;
				&:hover, &:active, &:focus, &:link {
					border-bottom-width: 0;
				}

				@media (min-width: $screen-xs-min) {
					font-size: 2.8rem;
					line-height: 3rem;
				}
				@media (min-width: $screen-sm-min) {
					font-size: 2.8rem;
					line-height: 3rem;
				}
				@media (min-width: $screen-md-min) {
					font-size: 2.8rem;
					line-height: 3rem;
				}
				@media (min-width: $screen-lg-min) {
					font-size: 4.5rem;
					line-height: 7rem;
				}

			}
			.znu-2016-remark {
				@include link-style($znu-color-blue, $znu-color-blue-1, $znu-color-blue);
				font-size: 1.5rem;
				vertical-align: top;
				display: inline-block;
				border: none;
				@media (min-width: $screen-sm-min) {
					padding-top: 0.1rem;
				}

				@media (min-width: $screen-md-min) {
				}

				@media (min-width: $screen-lg-min) {
					font-weight:500;
				}
			}
		}

	}
}
// =========== header and top navigation = end ============

// =========== navigation bar =============================

.znu-2016-nav{
	@extend .row;
	text-align: center;

		.znu-2016-title-block{
			margin-left:11rem;
			margin-top:1.0rem;

			@media (min-width: $screen-xs-min) {
				margin-left:9rem;
				margin-top:1.3rem;
				.w{
					display:inline;
				}
			}

			@media (min-width: $screen-sm-min) {
				margin-left:9rem;
				margin-top:1.3rem;
				.w{
					display:inline;
				}
			}
			@media (min-width: $screen-md-min) {
				margin-left:7rem;
				margin-top:1.3rem;
				.w{
					display:inline;
				}
			}

			@media (min-width: $screen-lg-min) {
			.w {
				display: inline;
			}
		}
			.znu-2016-title{
				color:$znu-color-blue;
				display:inline;
				@include link-style($znu-color-blue,$znu-color-blue-1, $znu-color-blue);
				border-bottom-width:0;
				&:hover, &:active, &:focus, &:link{
					border-bottom-width:0;
				}
				@media (min-width: $screen-xs-min) {
					font-size: 2.8rem;
					line-height: 1.2em;
				}

				@media (min-width: $screen-sm-min) {
					font-size:2.8rem;
					line-height: 1.07rem;
				}
				@media (min-width: $screen-md-min) {
					font-size:2.8rem;
					line-height: 1.07rem;
				}
				@media (min-width: $screen-lg-min) {
					font-size:3.8rem;
					line-height: 1.07rem;
				}
			}
			.znu-2016-remark{
				@include link-style($znu-color-blue,$znu-color-blue-1, $znu-color-blue);
				font-size:1.5rem;
				vertical-align: top;
				display:inline-block;
				border:none;
				@media (min-width: $screen-sm-min) {
					padding-top: 0.1rem;
				}
				@media (min-width: $screen-md-min) {
				}
				@media (min-width: $screen-lg-min) {
				}
			}

		}
	}

	.znu-2016-nav-had {
		@include make-xs-column(12);
		@include make-sm-column(12);
		@include make-md-column(12);
		@include make-lg-column(12);

		padding-top: 2rem;
		padding-bottom: 2rem;
		.color1 {
			background-color: $znu-color-rose;
			color: $znu-color-blue;
			box-shadow: $znu-shadow-box;
			&:hover {
				box-shadow: $znu-shadow-box-inset;
			}
		}
		.color2 {
			background-color: $znu-color-green;
			color: $znu-color-blue;
			box-shadow: $znu-shadow-box;
			&:hover {
				box-shadow: $znu-shadow-box-inset;
			}
		}
		.color3 {
			background-color: $znu-color-yellow;
			color: $znu-color-blue;
			box-shadow: $znu-shadow-box;
			&:hover {
				box-shadow: $znu-shadow-box-inset;
			}
		}
		.color4 {
			background-color: $znu-color-white;
			color: $znu-color-blue;
			box-shadow: $znu-shadow-box;
			&:hover {
				box-shadow: $znu-shadow-box-inset;
			}
		}

		@media (min-width: $screen-xs-min) {
			.link {
				text-align: center;
				width: 12rem;
				display: inline-block;
				vertical-align: top;
				a {
					display: block;
					margin: 0.5rem 0.5rem 0.5rem 0.5rem;
					height: 10rem;
				}
				i {
					position: relative;
					text-align: center;
					top: 20%;
					font-size: 4rem;
					width: 9rem;
				}
				.text {
					position: relative;
					text-align: center;
					font-size: 1.5rem;
					top: 30%;
				}
			}
		}


		@media (min-width: $screen-sm-min) {
			.link {
				text-align: center;
				width: 12rem;
				display: inline-block;
				vertical-align: top;
				a {
					display: block;
					margin: 0.5rem 0.5rem 0.5rem 0.5rem;
					height: 10rem;
				}
				i {
					position: relative;
					text-align: center;
					top: 20%;
					font-size: 4rem;
					width: 10rem;
				}
				.text {
					position: relative;
					text-align: center;
					font-size: 1.5rem;
					top: 30%;
				}
			}
		}

		@media (min-width: $screen-md-min) {
			width: 100%;
			.link {
				text-align: center;
				width: 12rem;
				display: inline-block;
				vertical-align: top;
				a {
					display: block;
					margin: 0.5rem 0.5rem 0.5rem 0.5rem;
					height: 10rem;
				}
				i {
					position: relative;
					text-align: center;
					top: 20%;
					font-size: 4rem;
					width: 10rem;
				}
				.text {
					position: relative;
					text-align: center;
					font-size: 1.5rem;
					top: 30%;
				}
			}
		}
		@media (min-width: $screen-lg-min) {
			padding-top: 2.5rem;
			width: 100%;
			.link {
				text-align: center;
				width: 18rem;
				display: inline-block;
				vertical-align: top;
				a {
					display: block;
					margin: 0 2rem 0rem 2rem;
					height: 12rem;
				}
				font-size: 4rem;

				i {
					position: relative;
					text-align: center;
					top: 20%;
					font-size: 5rem;
					width: 12rem;
				}

				.text {
					position: relative;
					text-align: center;
					font-size: 1.5rem;
					top: 0;
				}
			}
		}
	}





// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// =============== front page slider = begin =================
.znu-2016-slider{

	margin-top: 1em;

   @extend .row;
   .znu-2016-slider-col{
	    @include make-xs-column(12);
	    @include make-sm-column(12);
	    @include make-md-column(12);
	    @include make-lg-column(12);
	    position:relative;

	   box-shadow: $znu-shadow-box;
        padding-left:0rem;
        padding-right:0rem;

        .carousel{
           .container{
             padding-left:0rem;
            }
        } 

	    .znu-2016-carousel-image{

			@media (min-width: $screen-xs-min) {
				height:24rem;
			}
			@media (min-width: $screen-sm-min) {
				height:30rem;
			}
			@media (min-width: $screen-md-min) {
				height:30rem;
			}
			@media (min-width: $screen-lg-min) {
				height:48rem;
			}
	        display: block;
	        width:100%;
	        background-size:cover;
	        background-position:center center;
	        background-repeat:no-repeat;
	    }
	    .carousel-caption{
	        right:auto;
	        left:auto;
	        background-color:rgba(255,255,255,0.7);
	        color:$znu-color-blue;
	        text-shadow:none;
			box-shadow: $znu-shadow-box;

	        bottom:3rem;
	        width:100%;
	        margin:0 0 0 0;

	        h1{
				@media (min-width: $screen-xs-min) {
					font-size:140%;
				}
				@media (min-width: $screen-sm-min) {
					font-size:140%;
				}
				@media (min-width: $screen-md-min) {
					font-size:140%;
				}
				@media (min-width: $screen-lg-min) {
					font-size:180%;
				}
	           margin-top:0.2rem;
	        }
	        .btn{
				background-color: $znu-color-blue;
	           font-size:100%;
				border: 0rem;
				border-radius: 0;
				box-shadow: $znu-shadow-box;
				&:hover {
					box-shadow: $znu-shadow-box-inset;
				}
	        }

	        font-size:80%;

	        padding-left:1rem;
	        padding-right:1rem;

			@media (min-width: $screen-xs-min) {
				bottom:3.5rem;
				width:80%;
				margin:0 10% 0 10%;
				font-size:90%;
			}

			@media (min-width: $screen-sm-min) {
		        bottom:3.5rem;
		        width:80%;
		        margin:0 10% 0 10%;
                font-size:90%;
			}

			@media (min-width: $screen-md-min) {
		        bottom:3.5rem;
		        width:80%;
		        margin:0 10% 0 10%;
                font-size:100%;
			}

			@media (min-width: $screen-lg-min) {
		        bottom:40px;
		        width:60%;
		        margin:0 20% 0 20%;
			}
	    }
	    .carousel-indicators{
	       bottom:0;
	       margin-bottom:0px;
	       li{
			   border: none;
			   background-color:rgba(255,255,255,0.6);
	          height: 2rem;
	          width: 2rem;
	       }
			.active {
				border: none;
			  	height: 2.2rem;
			  	width: 2.2rem;
				background-color: $znu-color-blue;
			}
	    }
	}
}
// =============== front page slider = end ====================


// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// ================== events = begin =======================

.znu-2016-block-events{
	@extend .row;
	//text-align: center;

    margin-top:1rem;
	//background-color:$znu-color-white;

    .znu-2016-block-events-anounces{
	    @include make-xs-column(12);
	    @include make-sm-column(12);
	    @include make-md-column(12);
	    @include make-lg-column(12);

		h3{
			color:$znu-color-blue;
			margin-top: 10pt;
			margin-bottom: 10pt;
			text-align: center;
		}

       .remark{
           @include link-style($znu-color-blue,$znu-color-blue,$znu-color-blue);
           display:inline-block;
           vertical-align:top;
           font-size:1.5rem;
           margin-top:0.5rem;
        }

		img{
			width: 10rem;
			float: left;
			margin-right: 2rem;
			margin-top: 0.5rem;
		}

	    a{
	       @include link-style($znu-color-blue-1,$znu-color-blue,$znu-color-blue);
	    }


	    .znu-2016-block-anounces-one{
	        @include make-xs-column(12);
	        @include make-sm-column(6);
	        @include make-md-column(6);
	        @include make-lg-column(4);
			box-shadow: $znu-shadow-box;

			display: block;
			background-color: opacity($znu-color-blue);
	        padding-top:1rem;
	        padding-bottom:1rem;
			a{
				font-size: 1.5rem;
			}

			.a-container{
				font-size: 1.5rem;
				color: #fff;
			}

			.date-container{
				text-align: right;
				vertical-align: bottom;
			}

			.icon{
				display:none;
				border:none;
				width:100%;

				@media (min-width: $screen-sm-min) {
					display:inline-block;
					//height:15em;
				}
				@media (min-width: $screen-md-min) {
					//height:10em;
				}
				@media (min-width: $screen-lg-min) {
					//height:10em;
				}
				background-color:$znu-color-blue-light2;
				background-position:center center;
				background-size:cover;
			}

	        @media (min-width : $screen-sm-min) and (max-width : $screen-md-min - 2px){
		        &:nth-child(2n+1){
		            clear:left;
		        }
	        }
	        @media (min-width : $screen-md-min) and (max-width : $screen-lg-min - 1px){
		        &:nth-child(2n+1){
		            clear:left;
					margin-bottom: 1rem;
		        }
	        }
			@media (min-width: $screen-lg-min) {
		        &:nth-child(3n+1){
		            clear:left;
					margin-bottom: 1rem;
		        }
			}

		    &:nth-child(1){
		        background-color:$znu-color-yellow;
				margin-bottom: 1rem;
				margin-top: 1rem;
				margin-right: 1rem;
				margin-left: 1rem;
		    }
			&:nth-child(2){
				background-color:$znu-color-white;
				margin-bottom: 1rem;
				margin-top: 1rem;
				margin-right: 1rem;
				margin-left: 1rem;
			}
		    &:nth-child(3){
		        background-color:$znu-color-rose;//rgba(76, 241, 224, 0.4);
				margin-bottom: 1rem;
				margin-top: 1rem;
				margin-right: 1rem;
				margin-left: 1rem;
		    }
			&:nth-child(4){
				background-color:$znu-color-white;
				margin-bottom: 1rem;
				margin-top: 1rem;
				margin-right: 1rem;
				margin-left: 1rem;
			}
		    &:nth-child(5){
		        background-color:$znu-color-green;
				margin-bottom: 1rem;
				margin-top: 1rem;
				margin-right: 1rem;
				margin-left: 1rem;
		    }
			&:nth-child(6){
				background-color:$znu-color-white;
				margin-bottom: 1rem;
				margin-top: 1rem;
				margin-right: 1rem;
				margin-left: 1rem;
			}

	        line-height: 2rem;
	        @media (min-width: $screen-xs-min) {
				min-height:12rem;
				max-height: 12rem;
				max-width:94%;
				overflow:hidden;

			}
			@media (min-width: $screen-sm-min) {
				min-height:12rem;
				max-height: 12rem;
				max-width: 47.2%;
				overflow:hidden;
			}

			@media (min-width: $screen-md-min) {
				min-height: 12rem;
				max-height: 12rem;
				max-width: 47.8%;
				overflow:hidden;
			}

			@media (min-width: $screen-lg-min) {
	            min-height: 12rem;
				max-height: 12rem;
				max-width: 31.5%;
	            overflow:hidden;
			}
	    }
	}

	.znu-2016-block-events-col1,
	.znu-2016-block-events-col2,
	.znu-2016-block-events-col3{
	    h3{
	       @include font-header;
	    }
	    .znu-2016-block-events-one{
	        margin-bottom:1rem;
	    }
	    a{
	       @include link-style($znu-color-blue-2,$znu-color-blue-dark);
	    }
	}

}
// ================== events = end =========================



// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// ====================== footer = begin =====================
.znu-2016-footer-bg{
	background-color:$znu-color-blue;
    .znu-2016-main{
	   background-color:$znu-color-blue;
	}
}
.znu-2016-block-footer{
	@extend .row;
	border-top: 1px solid rgba(56, 82, 166, 0.5);
    padding-top:1rem;
    padding-bottom:1rem;

}
.znu-2016-block-footer-col{
    @include make-xs-column(12);
    @include make-sm-column(6);
    @include make-md-column(6);
    @include make-lg-column(6);

    color:$znu-color-white;
    a{
        display:inline-block;
        @include link-style($znu-color-white,$znu-color-blue-light1, $znu-color-white);
    }
}
// ====================== footer = end =======================





// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// ====================== bottom links = begin ===============

.znu-2016-block-links{
	@extend .row;
	background-color:$znu-color-white;
	box-shadow: $znu-shadow-box;

	margin-bottom: 1rem;

	.znu-2016-block-banner{
		//@extend .row;
		padding-bottom:1rem;
		//background-color:$znu-color-white;
		//box-shadow: $znu-shadow-box;
		margin-bottom: 1rem;
	}
	.znu-2016-one-banner{

		@include make-xs-column(6);
		@include make-sm-column(6);
		@include make-md-column(3);
		@include make-lg-column(3);

		display: block;
		img{
			height: 4rem; ///////////////////////////////////////////////////////////для разных тпо размеру( убрат елси одинаковые)
			//width:60%;
			color-rendering: rgba(255, 255, 255, 0.2) ;
		}
		a{
			border:none;
		}
	}
}
.znu-2016-block-links-col{
    @include make-xs-column(12);
    @include make-sm-column(6);
    @include make-md-column(3);
    @include make-lg-column(3);
    margin-bottom:2rem;

    h3{
		color:$znu-color-blue;
		padding-bottom: 2rem;
		border-bottom: 1px solid rgba(56, 82, 166, 0.5);
    }
    ul{
       padding-left:0;
       list-style: none; //outside none circle !important;
       color:$znu-color-white;
    }
    .znu-2016-block-links-one{
        margin-bottom:1rem;
    }
    a{
       @include link-style($znu-color-blue,$znu-color-blue, $znu-color-blue);
		text-decoration: none;
    }
}
// ====================== bottom links = end =================








// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// ============= banners = begin =============================

// ============= banners = end ===============================





.znu-2016-block-calendar-row{
    @extend .row;
    
    margin-top:1rem;
}


// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// ============= breadcrumbs = begin =========================
.znu-2016-breadcrumbs{
    @extend .row;
    background-color:$znu-color-white;
    //margin-top:1rem;
	margin-bottom: 2rem;
	padding-left: 1rem;

}
.znu-2016-breadcrumbs-col{
    @include make-xs-column(12);
    @include make-sm-column(12);
    @include make-md-column(12);
    @include make-lg-column(12);

	a{
	   @include link-style($znu-color-blue-2,$znu-color-blue-dark);
	}
	.current{
	}
}
// ============= breadcrumbs = end ===========================





// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
// ============= page = begin ================================
.znu-2016-block-page{
    @extend .row;
    background-color:$znu-color-white;
    margin-bottom:1rem;
    padding-bottom:2rem;
	box-shadow: $znu-shadow-box;
}
.znu-2016-page-col{
    @include make-xs-column(12);
    @include make-sm-column(12);
    @include make-md-column(12);
    @include make-lg-column(12);
	padding-left: 3rem;
	padding-right: 3rem;
	a{
	   @include link-style($znu-color-blue,$znu-color-blue-1, $znu-color-rose-dark);
	}
	.znu-2016-block-page-header{
		h1{
			margin-bottom: 0.2rem;
		    font-size:2rem;
			@media (min-width: $screen-sm-min) {
			   font-size:2.5rem;
			}

			@media (min-width: $screen-md-min) {
			   font-size:3rem;
			}

			@media (min-width: $screen-lg-min) {
			   font-size:3.5rem;
			}
		}
	}

	.znu-2016-block-page-content{

	    font-size:$font-size-base;

		@media (min-width: $screen-sm-min) {
		   font-size:$font-size-base;
		}

		@media (min-width: $screen-md-min) {
		   font-size:$font-size-base;
		}

		@media (min-width: $screen-lg-min) {
		   font-size:$font-size-base+2pt;
		}

		.highlight{
		    padding:1rem;
		    margin:0 0 1rem 0;
			ul{
				list-style: none;
				padding-left: 0rem;
			}
			@media (min-width: $screen-sm-min) {
			    width:50%;
			    float:right;
			    margin:0 0 2rem 2rem;
			}

			@media (min-width: $screen-md-min) {
			    width:35%;
			}

			@media (min-width: $screen-lg-min) {
			    width:35%;
			}

		}
		.highlight1{
		   background-color:$znu-color-blue-light2;

		}
		.highlight2{
		   background-color:$znu-color-green-light1;
			list-style: none;
		}
		.highlight3{
		   background-color:$znu-color-sand-light1;
			list-style: none;
		}

		.spoiler{
			display:none;
			padding:1rem;
			height:1rem;
			opacity:0;
			overflow:hidden;
			transition: height 2s ease-in-out 0;
		}
		.spoiler.visible{
		    display:block;
		    height:auto;
		    opacity:1;
		    transition: height 2s ease-in-out 0;
		}

		input[type="submit"]{
		    background-color:$znu-color-blue-light1;
		    color:$znu-color-white;
		    //border:2px solid $znu-color-blue;

		    &:hover, &:focus{
			    background-color:$znu-color-blue-1;
			    //border-color:$znu-color-blue-1;
		    }
		}
		input[type="text"]{
		    //border:1px solid $znu-color-blue;
		    background-color:$znu-color-blue-light1;
		    &:hover, &:focus{
			   // border-color:$znu-color-blue-1;
			    background-color:$znu-color-blue-light2;
		    }		    
		}

        img{
            max-width:100%;
        }
        img[align="right"]{
            margin:0 0 2rem 2rem;
            clear:right;
        }

        .content-row{
            @extend .row;
            margin:0rem;
            .left-col-4{
			    @include make-xs-column(12);
			    @include make-sm-column(6);
			    @include make-md-column(4);
			    @include make-lg-column(4);
			    padding-left:0rem;
            }
            .right-col-8{
			    @include make-xs-column(12);
			    @include make-sm-column(6);
			    @include make-md-column(8);
			    @include make-lg-column(8);            
			    padding-right:0rem;
            }

            .left-col-2{
			    @include make-xs-column(12);
			    @include make-sm-column(4);
			    @include make-md-column(2);
			    @include make-lg-column(2);
			    padding-left:0rem;

            }
            .right-col-10{
			    @include make-xs-column(12);
			    @include make-sm-column(8);
			    @include make-md-column(10);
			    @include make-lg-column(10);            
			    padding-right:0rem;

                
			    @media (max-width: $screen-sm-min) {
			        padding-left:0rem;
    			}


            }
        }

		.subcategories-bg{
		    background-position:left center;
		    background-size:cover;

            @extend .row;

            margin:0 0 2rem 0;
            .subcategories{
			    @include make-xs-column(12);
			    @include make-sm-column(6);
			    @include make-md-column(4);
			    @include make-lg-column(4);
				
				padding-left:0px;

				a{
				   @include link-style($znu-color-blue,$znu-color-blue, $znu-color-rose-dark);
					text-decoration: none;
				}
		        ul{
			        background-color:rgba(255,255,255,0.8);
			        padding:1rem 2rem;
			        margin-bottom:0rem;
					text-decoration: none;
					list-style: none;
				}
				.category-child{
				    position:relative;
     	            padding-left:0.3rem;
		            padding-right:0.3rem;


			       .category-grandchildren{
			           padding-top:1rem;
			           padding-bottom:1rem;
			           padding-right:2rem;
			           display:none;
			           position:absolute;
			           z-index:100;
			           width:400px;
			           max-width:auto;
			           left:30px;
			           li{
			             padding-left:0.3rem;
			             padding-right:0.3rem;
			             font-size:90%;
			             margin-bottom:0.5rem;
						   text-decoration: none;
			           }
			           li:hover{
						   background-color:$znu-color-white;
						   text-decoration: none;
			              
			           }
			           .more-grandchildren{
			               text-align:center;
			               background-color:$znu-color-white;
			               &:hover{
			                   background-color:$znu-color-green-light1;
			               }
			           }
	 		        }
				    &:hover{
				       .category-grandchildren{
				           display:block;
				       }
				    }
				}
			}
		}
	}
}
// ============= page = end ==================================
