{literal}
<style type="text/css">
   span.itemlist{display:inline-block; width:99%;}
   span.oneitem{display:inline-block; width:220px; height:250px;overflow:hidden;text-align:center;padding:5px;}
   div.sml{font-size:80%;}
   span.oneitem h3{margin-bottom:0pt;margin-top:10pt;font-size:15pt;text-align:center;}
   span.oneitem img{border:none;}
   div.r1{display:block; height:170px; overflow:hidden;text-align:center;}
   div.flt_l{width:30%;float:left;display:block;padding-left:3pt;text-align:left;}
   div.flt_r{width:67%;float:right;display:block;text-align:right;}
   form.btn{display:inline;margin:0px;font-size:8pt;}
   form.btn input{font-size:8pt;}
</style>
{/literal}

{if $ec_items_found gt 0}


{* <p>{$ec_items_search_summary}</p> *}

<span class="itemlist">
    {foreach from=$ec_items item=item}
    <span class="oneitem">
       {if $item.ec_main_image}<div class="r1"><a href="{$item.url_details}"><img src="{$site.url}{$item.ec_main_image}" width="212px" border="0px"></a></div>{/if}
       <b><a href="{$item.url_details}">{$item.ec_item_title}</a></b>
       <div class="sml">
           <div class="flt_l">{$item.ec_item_price}{$item.ec_curency_title}</div>
           <div class="flt_r">{$item.ec_item_last_change_date|date_format:"%d.%m.%Y %H:%M:%S"}</div>
       </div>
    </span>
    {/foreach}
</span>

{if $pages[1]}
    <p>
        {$text.Pages}:
        {foreach from=$pages item=pg}
            {if $pg.URL}
                <a href="{$pg.URL}">{$pg.innerHTML}</a>
            {else}
                <b>{$pg.innerHTML}</b>
            {/if}
        {/foreach}
    </p>
{/if}
{/if}
