<div class="shopping_cart_short">

{if $n_cart_items gt 0}
<h3 style="margin-bottom:0px;"><a href="{$url_cart_details}">{msg id="Shopping_Cart"}</a></h3>

<div>{msg id="Shopping_Cart_items"}:{$n_cart_items}</div>
<div>{msg id="EC_cart_total"}: {$total}{msg id=$site.ec_currency}{*foreach from=$total item=tt}{$tt.sum} {$tt.ec_item_currency_title}<br/>{/foreach*}</div>

<form action="{$form_action}" class="shopping_cart_order_button" style="margin-top:5pt;">
{$hidden_order_form_elements}
<input type="submit" value="{msg id="ec_place_order"}">
</form>
{else}
{* <h2>{msg id="EC_cart_is_empty"}</h2> *}
{msg id="EC_item_suggestion"}
{foreach from=$ec_items item=item}
<div><a href="{$item.url_details}">{$item.ec_item_title} {$item.ec_item_uid}</a></div>
{/foreach}
{/if}
</div>