<script type="text/javascript" src="{$cms_root_url}/scripts/lib/jquery.min.js"></script>
<script type="text/javascript" src="{$cms_root_url}/scripts/lib/jquery.lightbox.js"></script>
<link rel="stylesheet" type="text/css" href="{$cms_root_url}/img/jquery_lightbox/css/jquery.lightbox-0.5.css" media="screen" />
<script type="text/javascript">
    var cms_root_url='{$cms_root_url}';
</script>
{literal}
<script type="text/javascript">
    $(function() {
        $('a[rel=lightbox]').lightBox({
            overlayBgColor: '#FFF',
            overlayOpacity: 0.6,
            imageLoading: cms_root_url+'/img/jquery_lightbox/images/lightbox-ico-loading.gif',
            imageBtnClose: cms_root_url+'/img/jquery_lightbox/images/lightbox-btn-close.gif',
            imageBtnPrev:  cms_root_url+'/img/jquery_lightbox/images/lightbox-btn-prev.gif',
            imageBtnNext:  cms_root_url+'/img/jquery_lightbox/images/lightbox-btn-next.gif',
            imageBlank:cms_root_url+'/img/jquery_lightbox/images/lightbox-blank.gif'
        });
    });
</script>
<style type="text/css">
    span.oneitem,
    span.imgicon{
        display:inline-block;
        text-align:center;
        vertical-align:top;
    }
    span.oneitem{
        width:160px;
        margin:10px;
        background-color:white;
        padding:10px;
    }
    span.imgicon{
        overflow:hidden;
        width:150px;
        height:150px;
    }
    span.allimgs{
        display:inline-block;
        width:100%;
    }
</style>
{/literal}

<span class="breadcrumbs">
{foreach from=$category->breadcrumbs item="breadcrumb" name="breadcrumb_loop"}
     / {if $breadcrumb.url}
        <a href="{$breadcrumb.url}">{$breadcrumb.innerHTML|regex_replace:"/^[0-9]+ +/":""}</a>
       {else}
         {$breadcrumb.innerHTML|regex_replace:"/^[0-9]+ +/":""}
       {/if}
{/foreach}
</span>
<div>
    {* current category info
        [id] =>
        [site_id] => 69
        [description] => test2
        [url_details] => /yulia-portfolio/cms/index.php?action=gallery/photogallery&rozdilizformy=01%20%C1%F0%E5%ED%E4%E8%ED%E3%26TM&site_id=69&lang=rus&start=0
        [url_thumbnail] => /yulia-portfolio/static/gallery/2013/04/69-2013-04-15-10-39-09-m-10528541.jpg
        [url_image] => /yulia-portfolio/static/gallery/2013/04/69-2013-04-15-10-39-09-10528541.jpg
        [name] => 01 Брендинг&TM
    *}
    {$category->info.description}
</div>
{if $category->items_found}
<div class='paging_links'>
    {txt lang=$text.language_name variants="eng=Total::rus=Всего::ukr=Всього"}: {$category->items_found}
    {if $category->paging_links[1]}
       {txt lang=$text.language_name variants="eng=Pages::rus=Страницы::ukr=Сторінки"}:
        {foreach from=$category->paging_links item="pg"}
          {if $pg.URL}<a href="{$pg.URL}">{$pg.innerHTML}</a>{else}<b>{$pg.innerHTML}</b>{/if}
        {/foreach}
    {/if}
</div>
{/if}

<span style="display:inline-block; float:right;">
<form action="index.php" method="get">
    <input type="hidden" name="action" value="gallery/photogallery">
    <input type="hidden" name="site_id" value="{$site.id}">
    <input type="hidden" name="lang" value="{$text.language_name}">
    <input type="text" name="keywords" value="{$keywords}">
    <input type="submit" value="{txt lang=$text.language_name variants="eng=Find::rus=Найти::ukr=Знайти"}">
</form>
</span>
    <div class="categories"><!--
    {foreach from=$category->children item="category"}
       --><span class="oneitem"><span class="imgicon"><!--
         --><a href="{$category.url_details}"><img src="{$category.url_thumbnail}" alt="" border="0px" /></a><!--
        --></span><br />
        {$category.name} ({$category.n_images})
    </span><!--
    {/foreach}
 --></div>




<br>
<span class=allimgs>
    {* set amount if images on one page *}
    {$images->rowsPerPage_12}

    {* set ordering

    {$images->orderBy_date_asc}  - start from oldest
    {$images->orderBy_date_desc} - start from newest

    {$images->orderBy_category_asc}
    {$images->orderBy_category_desc}

    {$images->orderBy_title_asc}
    {$images->orderBy_title_desc}

    {$images->orderBy_author_asc}
    {$images->orderBy_author_desc}

    {$images->orderBy_year_asc}
    {$images->orderBy_year_desc}

    *}

    {* set  if show images from subcategories
      {$images->showImagesFromSubcategories_yes}
      {$images->showImagesFromSubcategories_no}
     *}

    {foreach from=$images->list item="image"}
    <span class="oneitem">
        <span class="imgicon">
            {* <a href="{$image.url_details}" target="_blank"><img src="{$image.url_thumbnail}" alt="" border="0px" /></a> *}
            <a href="{$image.url_big}" rel="lightbox" target="_blank"><img src="{$image.url_thumbnail}" alt="" border="0px" /></a>
        </span><br />
        {$image.pidpys}
    </span>
    {/foreach}

    {if $images->items_found > 0}
    <div>
    {$images->items_found} {txt lang=$text.language_name variants="eng=images::rus=рисунков::ukr=зображень"}.
    {if $images->paging_links[1]}
      {txt lang=$text.language_name variants="eng=Pages::rus=Страницы::ukr=Сторінки"}:
        {foreach from=$images->paging_links item="pg"}
          {if $pg.URL}<a href="{$pg.URL}">{$pg.innerHTML}</a>{else}<b>{$pg.innerHTML}</b>{/if}
        {/foreach}
    {/if}
    </div>
    {/if}
</span>
