<html>
<head>
<title>Головна сторінка</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<link rel="stylesheet" href="http://www.zsu.edu.ua/templates/design5/styles.css" type="text/css">
</head>
<body leftmargin="0" topmargin="0">
<table border="0" cellpadding="0" cellspacing="0" width="100%"><tr><td  class=a>
<!-- початок маленької крайової таблиці -->
<table border="0" cellpadding="0" cellspacing="0" width="100%" height="10">
<tr><td class="a" style="background-image: url(http://www.zsu.edu.ua/templates/design5/verh_line.gif);"><img src="http://www.zsu.edu.ua/templates/design5/verh_line.gif"></td></tr></table>
<!-- кінець маленької крайової таблиці -->


<!-- початок верхнього блоку -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr><td class="a" style="background-image: url(http://www.zsu.edu.ua/templates/design5/center_line.gif);" width="10%"><img src="http://www.zsu.edu.ua/templates/design5/logo.ukr.gif" width="274" height="221"></td><td class="a" style="background-image: url(http://www.zsu.edu.ua/templates/design5/center_line.gif);" valign="top" align="right">

<!-- початок блоку мов -->
        <a href="http://www.zsu.edu.ua/index.php?&lang=ukr" title="Українська версія"><img src="http://www.zsu.edu.ua/templates/design5/fl_ukr_a.gif" border="0" width=23px height=15px></a>&nbsp;
        
        <a href="http://www.zsu.edu.ua/index.php?&lang=rus" title="Русская версия"><img src="http://www.zsu.edu.ua/templates/design5/fl_rus_n.gif" border="0" width=23px height=15px></a>&nbsp;
        
        <a href="http://www.zsu.edu.ua/index.php?&lang=eng" title="English version"><img src="http://www.zsu.edu.ua/templates/design5/fl_eng_n.gif" border="0" width=23px height=15px></a>&nbsp;
        
<!-- кінець блоку мов -->

</td><td class="a" style="background-image: url(http://www.zsu.edu.ua/templates/design5/center_line.gif);" valign="top" align="right" width="10%"><img src="http://www.zsu.edu.ua/templates/design5/image.gif" width="276" height="219"></td></tr>
</table>
<!-- кінець верхнього блоку -->

<!-- початок основного текстового блоку -->
<table border="0" cellpadding="0" cellspacing="0" width=100%>
<!-- початок лівого блоку -->
<tr><td class="a" width="5%" valign="top">
      <table border="0" cellpadding="5" cellspacing="5">
      <!-- початок 1 елементу лівого блоку -->
      <tr>
      <td class="b" width="100%"  style="background-image: url(http://www.zsu.edu.ua/templates/design5/rozdil.gif); background-position: top,left; background-repeat: no-repeat; background-color: #ffffff; border-top:none;">
      <br>
      <div  class=menu><nobr><a href="http://www.zsu.edu.ua/ukr/main/">Головна сторінка</a></nobr></div>
      <div  class=menu><a href="http://www.zsu.edu.ua/ukr/university">Університет</a></div>
      <div  class=menu><a href="http://www.zsu.edu.ua/ukr/science">Наука й освіта</a></div>
      <div  class=menu><a href="http://www.zsu.edu.ua/ukr/pk">Приймальна комісія</a></div>
      <div  class=menu><a href="http://www.zsu.edu.ua/ukr/international">Міжнародні зв'язки</a></div>
      <div  class=menu><a href="http://www.zsu.edu.ua/ukr/departments">Факультети</a></div>
      <div  class=menu><a href="http://www.zsu.edu.ua/ukr/filialy">Філії</a></div>
      <div  class=menu><a href="http://www.zsu.edu.ua/ukr/diff">Позанавчальна діяльність</a></div>
      </td>
      </tr>
      <!-- кінець 1 елементу лівого блоку -->
      
      <!-- початок 2 елементу лівого блоку -->
      <tr><td class="b" width="100%"><!-- 
       --><div  class=menu><a href="http://sites.zsu.zp.ua/news.php?start=0&site_id=27&lang=ukr">Новини ЗНУ</a></div><!-- 
       --><div  class=menu><a href="http://www.zsu.edu.ua/ukr/main/contacts/">Контакти</a></div><!-- 
       --><div  class=menu><a href="http://www.zsu.edu.ua/ukr/main/sitemap/">Мапа сайту</a></div><!-- 
       --><div  class=menu><a href="http://www.zsu.edu.ua/ukr/main/links/">Посилання</a></div><!-- 
       --><div  class=menu><a href="http://www.zsu.edu.ua/ukr/main/guestbook/">Гостьова книга</a></div><!-- 
       --><div  class=menu><a href="http://www.zsu.edu.ua/contacts/index.php?action=guest/msg&contact_id=97">Зворотній зв'язок</a></div><!-- 
       --><div  class=menu><a href="http://sites.zsu.zp.ua/forum.php?site_id=20&lang=ukr&interface_lang=ukr">Форум</a></div><!-- 
       --><div  class=menu><a href="http://www.zsu.edu.ua/ukr/main/search">Пошук</a></div><!-- 
       --></td></tr>
      <!-- кінець 2 елементу лівого блоку -->
      
      <!-- початок елементу "підрозділи" лівого блоку -->
            <!-- кінець елементу "підрозділи" лівого блоку -->

      <!-- початок елементу "Сусідні розділи" лівого блоку -->
            <!-- кінець елементу "Сусідні розділи" лівого блоку -->



      <!-- початок елементу "пошук" лівого блоку -->
      <tr>
      <td class="b" width="100%"><!-- 
       --><form method="post" action=index.php><!-- 
       --><input type=hidden name=dest value="main@search"><!-- 
       --><input type=hidden name=lang value="ukr"><!-- 
       --><input size="10" type="text" name="what" class="searchtext"><!-- 
       --><br><input type="submit" value="Пошук!" class="searchbutton"><!-- 
       --></form>
      </td></tr>
      <!-- кінець елементу "пошук" лівого блоку -->
      </table>
</td>
<!-- кінець лівого блоку -->
<!-- початок центрального блоку -->
<td class="a" valign="top">

<table border="0" cellpadding="15" cellspacing="5" width=100%>
<tr>
<td class="b">
    
    <script type="text/javascript">
    <!-- 
      function print_page_content(block_id)
      {
        var content_block = document.getElementById(block_id);
        if(!content_block) return;
        if(!content_block.innerHTML) return;
        frm=window.open("about:blank","print_content","scrollbars=1,resizable=1,menubar=1,status=1");
        frm.document.open();
        frm.document.writeln(document.location.href + '<hr>');
        var str = content_block.innerHTML;
        str = str.replace(/<script/, '<!-- script');
        str = str.replace(/script>/, 'script -->');
    
        frm.document.writeln(str);
    
        frm.document.close();
        return;
      }
    // -->
    </script>
    
    <div align=right><a href="#" onclick="print_page_content('page_content'); return false;" title="Версія для друку"><img src=http://www.zsu.edu.ua/images/print.gif  alt="Версія для друку" width=16 height=14 border=0></a></div>
    <span class="textblok" id="page_content">
    <!-- вміст центрального блоку -->
      <div style=''>
                        / <b>Головна сторінка</b><br />
              </div>
      <hr>
      <h5> Новини ЗНУ</h5><script type="text/javascript" src="http://sites.zsu.zp.ua/cms/index.php?action=news/js&site_id=27&lang=ukr&rows=10"></script>

<h5>Запрошення на конференції, конкурси</h5>
<script type="text/javascript" src="http://sites.zsu.zp.ua/cms/index.php?action=news/js&site_id=19&lang=ukr&rows=4&abstracts=no"></script>

    <!-- закінчився вміст центрального блоку -->
    </span>
</td>
</tr>
</table>

</td>
<!-- кінець центрального блоку -->
<!-- початок правого блоку -->
<td class="a" width="20%" valign="top">
<table border="0" cellpadding="5" cellspacing="5">


<!-- початок 1 елементу правого блоку -->
<tr>
<td class="b" width="100%"  style="background-image: url(http://www.zsu.edu.ua/templates/design5/rozdil.gif); background-position: top,left; background-repeat: no-repeat; background-color: #ffffff; border-top:none;">
<br />
<b>Анонси : </b>
<br>
<script type="text/javascript" src="http://sites.zsu.zp.ua/cms/index.php?action=news/js&site_id=28&lang=ukr&rows=3&date=ASC"></script>
</td></tr>
<!-- кінець 1 елементу правого блоку -->


<!-- початок 2 елементу правого блоку -->
<tr>
<td class="b" width="100%">
<script type="text/javascript" src="http://sites.zsu.zp.ua/cms/index.php?action=news/js&site_id=26&lang=ukr&rows=1"></script>
</td></tr>
<!-- кінець 2 елементу правого блоку -->
</table>
</td>
</tr>
<!-- кінець правого блоку -->
</table>
<!-- кінець основного текстового блоку -->
<!-- початок нижнього блоку -->
<table border="0" cellpadding="10" cellspacing="5" width="100%">
<tr><td class="a" valign="top">

<table border="0" cellpadding="10" cellspacing="5" width="100%">
<tr>
<td class="b" align=center>
<a href="http://www.zsu.edu.ua/contacts/index.php?action=guest/msg&contact_id=97">Запорізький національний університет, Web-лабораторія, © 1996-2005</a>
  <!-- counters - begin -->
  <br /><br />
<div align=center>


<table cellSpacing=0 cellPadding=0 align=center border=0>
    <tr>
	<td align=center style="border:none;" rowspan=2 valign=top>

<!-- BEGIN OF MyTOP CODE v5.3 -->
<script language="javascript">//<!--
mtI="020802140946";mtG="26";mtT="8";mtS='http://c.mystat-in.net/';mtD=document;
mtN=navigator.appName;mtR=escape(mtD.referrer);mtW="";mtC="";mtV="0";mtJ="1";
//--></script><script language="javascript1.1">//<!--
mtV="1";mtJ = (navigator.javaEnabled()?"1":"0");
//--></script><script language="javascript1.2">//<!--
mtC=screen;mtW=mtC.width;mtN!="Netscape"?mtC=mtC.colorDepth:mtC=mtM.pixelDepth;mtV="2";
//--></script><script language="javascript1.3">//<!--
mtV="3";
//--></script><script language="javascript">//<!--
mtUrl="";mtUrl+="\""+mtS+"i"+mtI+"&t"+mtT+"&g"+mtG+"&w"+mtW+"&c"+mtC+"&r"+mtR+"&v"+mtV+"&j"+mtJ+"\"";
mtUrl="<a href=http://mytop-in.net/ target=_blank><img src="+mtUrl+" width=81 height=63 border=0 alt=\"Rated by MyTOP\"></a>";
mtD.write(mtUrl);
//--></script>
<noscript>
<a href=http://mytop-in.net/ target=_blank><img src=http://c.mystat-in.net/i020802140946&t8&g26&j0 width=81 height=63 border=0 alt="Rated by MyTOP"></a>
</noscript>
<!-- END OF MyTOP CODE v5.3 -->

		</td>
		<td align=right style="border:none;">

<!--Rating@Mail.ru COUNTER--><script language="JavaScript"><!--
d=document;a='';a+=';r='+escape(d.referrer)
js=10//--></script><script language="JavaScript1.1"><!--
a+=';j='+navigator.javaEnabled()
js=11//--></script><script language="JavaScript1.2"><!--
s=screen;a+=';s='+s.width+'*'+s.height
a+=';d='+(s.colorDepth?s.colorDepth:s.pixelDepth)
js=12//--></script><script language="JavaScript1.3"><!--
js=13//--></script><script language="JavaScript"><!--
d.write('<a href="http://top.mail.ru/jump?from=308846"'+
' target=_top><img src="http://top.list.ru/counter'+
'?id=308846;t=131;js='+js+a+';rand='+Math.random()+
'" alt="Рейтинг@Mail.ru"'+' border=0 height=40 width=88></a>')
if(js>11)d.write('<'+'!-- ')//--></script><noscript><a
target=_top href="http://top.mail.ru/jump?from=308846"><img
src="http://top.list.ru/counter?js=na;id=308846;t=131"
border=0 height=40 width=88
alt="Рейтинг@Mail.ru"></a></noscript><script language="JavaScript"><!--
if(js>11)d.write('--'+'>')//--></script><!--/COUNTER-->

</td>

<td align=right valign=top style="border:none;">
<!-- Begin Nedstat Basic code -->
<!-- Title: Official Web Site of ZSU (2002) -->
<!-- URL: http://www.zsu.edu.ua -->
<script language="JavaScript" src="http://www.zsu.edu.ua/jscript/basic.js">
</script>
<script language="JavaScript">
<!--
  nedstatbasic("ABZsXw4do2vv47AN07sqSpgq8fHw", 0);
// -->
</script>
<noscript>
<a target="_blank" href="http://v1.nedstatbasic.net/stats?ABZsXw4do2vv47AN07sqSpgq8fHw"><img
src="http://m1.nedstatbasic.net/n?id=ABZsXw4do2vv47AN07sqSpgq8fHw"
border="0" nosave width="18" height="18"></a>
</noscript>
<!-- End Nedstat Basic code -->

</td>

</tr>
<tr>
<td align=center style="border:none;padding-left:5px;" colspan=2>

<!-- bigmir)net TOP 100 --><a href=http://www.bigmir.net/?cl=24184 target=_blank><script language="javascript"><!--
bmQ='<img src=http://c.bigmir.net/?s24184&t10'
bmD=document
bmD.cookie="b=b"
if(bmD.cookie)bmQ+='&c1'
//--></script><script language="javascript1.2"><!-- 
bmS=screen;bmQ+='&d'+(bmS.colorDepth?bmS.colorDepth:bmS.pixelDepth)+"&r"+bmS.width;
//--></script><script language="javascript"><!--
bmF = bmD.referrer.slice(7);
((bmI=bmF.indexOf('/'))!=-1)?(bmF=bmF.substring(0,bmI)):(bmI=bmF.length);
if(bmF!=window.location.href.substring(7,7+bmI))bmQ+='&f'+escape(bmD.referrer);
bmD.write(bmQ+" border=0 width=140 height=17 alt='bigmir TOP100'>");
//--></script></a>
<!-- bigmir)net TOP 100 -->
</td>
</tr>
</table>
</div>

  <!-- counters - end -->
</td>
</tr>
</table>
</td></tr></table>
<!-- кінець нижнього блоку -->
<!-- початок маленької крайової таблиці -->
<TABLE height=10 cellSpacing=0 cellPadding=0 width="100%" border=0>
<tr><td class="a" style="background-image: url(http://www.zsu.edu.ua/templates/design5/verh_line2.gif);"><img src="http://www.zsu.edu.ua/templates/design5/verh_line2.gif"></td></tr>
</table>
<!-- кінець маленької крайової таблиці -->
</td></tr></table>
</body>
</html>