{literal}
<style type="text/css">
.rarr, .larr{
  display:inline-block;
  width:0px;
  height:0px;
  padding:0px;
  margin:0px;
}
.rarr{
 border-right-width:0px;
 border-top:5px solid transparent;
 border-bottom:5px solid transparent;
 border-left:10px solid green;
 margin-left:3px;
}
.larr{
 border-left-width:0px;
 border-top:5px solid transparent;
 border-bottom:5px solid transparent;
 border-right:10px solid green;
 margin-right:3px;
}

.oneevent{
  display:inline-block;
  width:99%;
  margin-top:10px;
}
</style>
{/literal}



<table>
<tr>
<td colspan=4 
    align=left 
    valign=middle><a href="{$month_table.prev_month_link}" class="larr"></a>{$month_table.month_name}<a href="{$month_table.next_month_link}" class="rarr"></a></td>
<td colspan=3 align=right valign=middle><a href="{$month_table.prev_year_link}" class="larr"></a>{$month_table.year}<a href="{$month_table.next_year_link}" class="rarr"></a></td>
</tr>


<tr>
{foreach from=$month_table.weekdays item=weekday}
<td>{$weekday}</td>
{/foreach}
</tr>

{foreach from=$month_table.days item=row}
<tr>
{foreach from=$row item=cell}
<td>
{if $cell.href}
<a href="{$cell.href}">{$cell.innerHTML}</a>
{else}
{$cell.innerHTML}
{/if}
</td>
{/foreach}
</tr>
{/foreach}

</table>


