{literal}
<style type="text/css">
.rarr, .larr{
  display:inline-block;
  width:0px;
  height:0px;
  padding:0px;
  margin:0px;
}
.rarr{
 border-right-width:0px;
 border-top:5px solid transparent;
 border-bottom:5px solid transparent;
 border-left:10px solid gray;
 margin-left:3px;
}
.larr{
 border-left-width:0px;
 border-top:5px solid transparent;
 border-bottom:5px solid transparent;
 border-right:10px solid gray;
 margin-right:3px;
}

.oneevent{
  display:inline-block;
  width:99%;
  margin-top:10px;
}

    span.daty{
        display:inline-block;
        float:left;
        padding:5px;
        margin-right:10px;
        margin-top:-5px;
    }
.oneevent{
  margin-top:10px;
  margin-right:220pt;
}
</style>
{/literal}
<span style="display:inline-block;">
<table>
<tr>
<td colspan=4
    align=left
    valign=middle><a href="{$month_table.prev_month_link}" class="larr"></a>{$month_table.month_name}<a href="{$month_table.next_month_link}" class="rarr"></a></td>
<td colspan=3 align=right valign=middle><a href="{$month_table.prev_year_link}" class="larr"></a>{$month_table.year}<a href="{$month_table.next_year_link}" class="rarr"></a></td>
</tr>


<tr>
{foreach from=$month_table.weekdays item=weekday}
<td>{$weekday}</td>
{/foreach}
</tr>

{foreach from=$month_table.days item=row}
<tr>
{foreach from=$row item=cell}
<td>
{if $cell.href}
<a href="{$cell.href}">{$cell.innerHTML}</a>
{else}
{$cell.innerHTML}
{/if}
</td>
{/foreach}
</tr>
{/foreach}

</table>
</span>
{if $day}<h3>{$day}.{$month}.{$year}</h3>{/if}
{foreach from=$events item=ev}

            
     {capture name=ecclass assign="ecclass"}{if $ev.categories}{foreach from=$ev.categories item=_cat} {$_cat.category_code} {/foreach} {/if} {/capture}
     <div class='oneevent {$ecclass}'>
            <span class="daty">
                {foreach from=$ev.dates item=_dt}
                {capture name=npt assign="poch_text"}{if $_dt.pochtyzh_text}{$_dt.pochtyzh_text},{/if} {if $_dt.pochmis_text}{$_dt.pochmis_text},{/if} {if $_dt.pochday_text}{$_dt.pochday_text},{/if} {if $_dt.pochrik_text}{$_dt.pochrik_text},{/if}{/capture}
                {capture name=npt assign="kin_text"}{if $_dt.kintyzh_text}{$_dt.kintyzh_text},{/if} {if $_dt.kinmis_text}{$_dt.kinmis_text},{/if} {if $_dt.kinday_text}{$_dt.kinday_text},{/if} {if $_dt.kinrik_text}{$_dt.kinrik_text},{/if}{/capture}
                <nobr>
                  {$poch_text|regex_replace:"/, +$/":""}
                  {if $poch_text neq $kin_text}
                  -- {$kin_text|regex_replace:"/, +$/":""}
                  {/if}
                </nobr><br/>
                {/foreach}

            </span>
     <div>
     {if $ev.adresa}<a href="{$ev.adresa}">{/if}
     {if $ev.kartynka}<img src="{$ev.kartynka}" align="left" border="0px">{/if}
     <b>{$ev.nazva}</b><br>
     {if $ev.adresa}</a>{/if}
     {$ev.description}
     </div>
            {if $ev.categories}
            {foreach from=$ev.categories item=_cat}
              <a href="{$_cat.URL}">{$_cat.category_title}</a>
            {/foreach}
            {/if}

            {*
            {if $ev.nearest_dates}
            <div>
            {txt lang=$text.language_name variants="eng=nearest dates::rus=ближайшие даты::ukr=найближчі дати"}:
            {foreach from=$ev.nearest_dates item=dat}
              {$dat|date_format:"%d.%m.%Y"}
            {/foreach}
            </div>
            {/if}
            *}
     </div>
{/foreach}