{* <h3>{msg id="ec_payment_reply"}</h3> *}
<table border="0px"><tbody>
<tr><td><b>{msg id="ec_payment_action"}:</b></td><td>{$payment_reply->action}</td></tr>
<tr><td><b>{msg id="ec_payment_order_id"}:</b></td><td>{$payment_reply->order_id}</td></tr>
<tr><td><b>{msg id="ec_payment_amount"}:</b></td><td>{$payment_reply->amount}</td></tr>
<tr><td><b>{msg id="ec_payment_currency"}:</b></td><td>{$payment_reply->currency}</td></tr>
<tr><td><b>{msg id="ec_payment_status"}:</b></td>
    <td>{capture name=banner assign=ec_payment_status_name}ec_payment_{$payment_reply->status}{/capture}
        {msg id="$ec_payment_status_name"}
    </td></tr>
<tr><td><b>{msg id="ec_payment_error_code}:</b></td><td>{$payment_reply->code}</td></tr>
<tr><td><b>{msg id="ec_payment_transaction_id"}:</b></td><td>{$payment_reply->transaction_id}</td></tr>
<tr><td><b>{msg id="ec_payment_payment_way"}:</b></td><td>{$payment_reply->pay_way}</td></tr>
<tr><td><b>{msg id="ec_payment_sender_phone"}:</b></td><td>{$payment_reply->sender_phone}</td></tr>
<tr><td><b>{msg id="ec_payment_description"}:</b></td><td>{$payment_reply->description}</td></tr>
</tbody></table>
<br/>

<a href="{$url_order_details}">{msg id="EC_order_details"}</a>

<p>{msg id="Ec_postpay_msg"}</p>