<!--
List of thread in selected forum
-->
{if $visitor.site_visitor_id eq '0'}
  <div>
      Anonymous(<a href="{$visitor.URL_login}"  target=popup>{msg id="Login"}</a> <a href="{$visitor.URL_signup}" target=popup>{msg id="Signup"}</a> )
  </div><br/>
{else}
  <div>
      {$visitor.site_visitor_login|escape:"html"}( <a href="{$visitor.URL_logout}"  target=popup>{msg id="Logout"}</a> )<br/>
      <a href="mailto:{$visitor.site_visitor_email|escape:"html"}">{$visitor.site_visitor_email|escape:"html"}</a>
	  <a href="{$visitor.site_visitor_home_page_url|escape:"html"}">{$visitor.site_visitor_home_page_url|escape:"html"}</a>
  </div><br/>
{/if}
{if $forum.about}<p>{$forum.about}</p>{/if}
<br><a href="{$URL_view_forum_list}">{$site.title} - {msg id="forum_list"}</a><br><br>


<table width=95% border=0px cellpadding=5px>
    <tr bgcolor=#cccccc width=60%>
        <td><b>{msg id="forum_thread_subject"}</b></td>
        <td width=10%><b>{msg id="forum_n_messages"}</b></td>
        <td width=15%><b>{msg id="Date_created"}</b></td>
        <td width=15%><b>{msg id="forum_last_message_date"}</b></td>
    </tr>


{foreach from=$threads item=row}
<tr>
    <td>
        {if $visitor.is_moderator}
           {if $row.some_messages_visible}<img src="/cms/img/icon_approved.png">{else}<img src="/cms/img/icon_hidden.png">{/if}
        {/if}
        {if $row.URL_view_thread}
        <a href="{$row.URL_view_thread}">{$row.subject}</a>
        {else}
        {$row.subject}
        {/if}
    </td>
    <td>{$row.n_messages}</td>
    <td><i><small>{$row.data|date_format:"%d.%m.%Y %H:%M:%S"}</small></i></td>
    <td><i><small>{$row.last_message_data|date_format:"%d.%m.%Y %H:%M:%S"}</small></i></td>
</tr>
{/foreach}
<tr><td colspan=4><hr size=1px>{$pages}<br /><br /></td></tr>
<tr><td colspan=4>
<br>

<h4>{msg id="forum_create_thread"}</h4>


<form action='{$form.action}' method='post'>
  {$form.hiddent_fields}
  {$form.errors}

{if $visitor.site_visitor_id eq '0'}
  <div>
      {msg id="Name"}:Anonymous(<a href="{$visitor.URL_login}"  target=popup>{msg id="Login"}</a> <a href="{$visitor.URL_signup}" target=popup>{msg id="Signup"}</a> )
  </div><br/>
{else}
  <div>
      {msg id="Name"} : {$visitor.site_visitor_login|escape:"html"}( <a href="{$visitor.URL_logout}"  target=popup>{msg id="Logout"}</a> )<br/>
      {msg id="Email"}: {$visitor.site_visitor_email|escape:"html"}<br/>
      WWW:{$visitor.site_visitor_home_page_url|escape:"html"}
  </div><br/>
{/if}
<div>
<b>{msg id="forum_thread_subject"} <font color=red size=+1>*</font></b><br/>
<INPUT type='text' NAME='{$form.fld_subject.name}'  SIZE='25' style='width:100%;' value="{$form.fld_subject.value|escape:"html"}">
</div><br/>

<div>
<b>{msg id="Message"} <font color=red size=+1>*</font></b><br/>
<textarea NAME='{$form.fld_msg.name}' rows=4 cols=40 style='width:100%;'>{$form.fld_msg.value|escape:"html"}</TEXTAREA>
</div><br/>

<div>
<b>{msg id="Retype_the_number"} <font color=red size=+1>*</font></b>
<img src="{$form.fld_postedcode.value}" border=1px align="top">
<input type=text name=postedcode value=''>
</div><br/>

<input type=submit value='{msg id="Send"}'>
</form>


</td></tr>
</table>