<div style='font-size:80%;font-weight:bold;'>
<a href="{$site.url}">{$site.title}</a>
/
<a href="{$site.URL_to_view_news}">{txt lang=$text.language_name variants="eng=All the news of the site &quot;::rus=Все новости сайта &laquo;::ukr=Всі новини сайта &laquo;"}{$site.title}{txt lang=$text.language_name variants="eng=&quot;::rus=&raquo;::ukr=&raquo;"}</a>
/
{$news.title}
</div>
<br>
<div style='font-size:80%;font-weight:bold;'>
  {show_news_categories news_id=$news.id site_id=$news.site_id}
</div>
<br>

{if $news.categories}
    {foreach from=$news.categories item=category}
    {*
      $category.category_id
      $category.category_code
      $category.category_title
      $category.category_url
      $category.deep
    *}
    <a href="{$categories.category_url}">{$categories.category_title}</a>
    {/foreach}
{/if}
{if $news.tags}
<div style='font-size:80%;font-weight:bold;'>
    {foreach from=$news.tag_links item=tag}
    <a href="{$tag.URL}">{$tag.name}</a>
    {/foreach}
</div>
{/if}


<p style='font-size:130%;'>
    
    {if $news.news_icon}
       <a href="{$site.site_root_url}/{$news.news_icon.full}" target="_blank"><img src="{$site.site_root_url}/{$news.news_icon.small}" align="left"></a>
    {/if}
    {$news.abstract}</p>
<p>{$news.content}</p>

<div style='font-size:90%;'>
    {$news.last_change_date|date_format:"%d.%m.%Y %H:%M:%S"}
    {if $news.expiration_date}... {$news.expiration_date|date_format:"%Y-%m-%d %H:%M:%S"}{/if}
</div>


{capture name=npt assign="related_news"}{show_related_news news_id=$news.id lang=$news.lang site_id=$news.site_id}{/capture}
{if $related_news}
  {txt lang=$text.language_name variants="eng=Similar news::rus=Похожие новости::ukr=Схожі новини"}
  {$related_news}
{/if}






<!-- комментарии к новостям -->
{*
<script type="text/javascript" src="{$smarty.const.site_root_URL}/scripts/news/comments.js"></script>


{if $comments->items_found gt 0}

<span style="display:inline-block; width:100%;overflow:hidden;">
    <b>{txt lang=$text.language_name variants="eng=Comments::rus=Комментарии::ukr=Коментарі"}</b>:<br/>
    {foreach from=$comments->list item=comment}
        {if $comment.news_comment_is_visible}
            <div style="padding-left:{math equation="deep * 20" deep=$comment.indent}pt;">
                <div>{$comment.news_comment_sender} {$comment.news_comment_datetime|date_format:"%Y-%m-%d %H:%M:%S"}</div>
                <div>{$comment.news_comment_content}</div>
                <div style="font-size:80%;">
                    <a href="javascript:void(reply_to({$comment.news_comment_id}))">{txt lang=$text.language_name variants="eng=Reply::rus=Ответить::ukr=Відповісти"}</a>
                    {if $visitor.is_moderator}
                    <a href="{$comment.url_hide_comment}">{txt lang=$text.language_name variants="eng=Hide::rus=Скрыть::ukr=Сховати"}</a>
                    {/if}
                </div>
                <div  id="new_comment_{$comment.news_comment_id}"></div>
            </div>
            <br/>
        {else}
           {if $visitor.is_moderator}
            <div style="padding-left:{math equation="deep * 20" deep=$comment.indent}pt; color:silver; font-size:60%;">
                <div>{$comment.news_comment_sender} {$comment.news_comment_datetime|date_format:"%Y-%m-%d %H:%M:%S"}</div>
                <div>{$comment.news_comment_content}</div>
                <div style="font-size:80%;">
                    <a href="#">{txt lang=$text.language_name variants="eng=Reply::rus=Ответить::ukr=Відповісти"}</a>
                    <a href="{$comment.url_show_comment}">{txt lang=$text.language_name variants="eng=Show::rus=Показать::ukr=Показати"}</a>
                </div>
                <div  id="new_comment_{$comment.news_comment_id}"></div>
            </div>
            <br/>
            {else}
            <div style="padding-left:{math equation="deep * 20" deep=$comment.indent}pt;">
                 {txt lang=$text.language_name variants="eng=Comment was deleted by moderator::rus=Комментарий удалён модератором::ukr=Коментар видалено модератором"}
            </div>
            {/if}
        {/if}
    {/foreach}
</span>

{/if}


<!-- form to send comment -->
<div id="new_comment_0">
    <div  id="send_comment_form">
        <h4>{txt lang=$text.language_name variants="eng=New comment::rus=Новый комментарий::ukr=Новий коментар"}</h4>
        <form action="index.php" method="POST">
            {if $visitor.site_visitor_id eq '0'}
                {txt lang=$text.language_name variants="eng=Comment author::rus=Автор комментария::ukr=Автор коментаря"}: {$visitor.site_visitor_login}
                 (<a href="{$visitor.URL_login}"  onclick="comment_login_popup('about:blank')" target="comment_login_popup">{msg id="Login"}</a>
                  <a href="{$visitor.URL_signup}" onclick="comment_login_popup('about:blank')" target="comment_login_popup">{msg id="Signup"}</a> )
            {else}
                {txt lang=$text.language_name variants="eng=Comment author::rus=Автор комментария::ukr=Автор коментаря"}: {$visitor.site_visitor_login}
                ( <a href="{$visitor.URL_logout}"  onclick="comment_login_popup('about:blank')" target="comment_login_popup">{msg id="Logout"}</a> )<br/>
            {/if}
            <input type="hidden" name="action" value="news/view_details">
            <input type="hidden" name="news_id" value="{$news.id}">
            <input type="hidden" name="lang" value="{$news.lang}">
            <input type="hidden" name="news_comment_is_visible" value="2">
            <input type="hidden" name="news_comment_parent_id" value="0" id="news_comment_parent_id">
            <textarea name="news_comment_content" style="width:100%;" rows="5"></textarea><br>
            <div>
            <b>{msg id="Retype_the_number"} <font color=red size=+1>*</font></b>
            <img src="{$postedcode_src}" width=80px height=22px border=1px align="top">
            <input type=text name=postedcode value=''>
            </div><br/>
            <input type="submit" value="{txt lang=$text.language_name variants="eng=Send comment::rus=Отправить комментарий::ukr=Відправити коментар"}">
        </form>
    </div>
</div>
<div id="news_comment_link" style="display:none;">
<a href="javascript:void(reply_to(0))">{txt lang=$text.language_name variants="eng=New comment::rus=Новый комментарий::ukr=Новий коментар"}</a>
</div>

*}
