
<h2>{msg id="Ec_order_new_comment_created"}</h2>
<p>{$new_comment|strip_tags}</p>


<p>
<a href="{$url_order_details}">{msg id="EC_order_details"}</a>
</p>

{if $validation_result}
   {*<div style="font-weight:bold;padding:4px;">{msg id="ec_order_valid"}</div>*}
{else}
   <div style="background-color:red; color:white; font-weight:bold;padding:4px;">{msg id="ec_order_invalid"} {$order.ec_order_id}</div>
{/if}

<div style="background-color:green; color:white; font-weight:bold;padding:4px;">
<b>{msg id="ec_order_status"}</b>:
    {$order.ec_order_status_text},
    {if $order.ec_order_paid}
        {msg id="Ec_order_is_paid_successfully"}
    {else}
        {msg id="Ec_order_is_not_paid"}
    {/if}
</div>
<br/>

<h3>{msg id="EC_order_creator"}</h3>
<table class="nobd">
  {if $user.ec_user_name}<tr><td>{msg id="ec_user_name"}:</td><td>{$user.ec_user_name}</td></tr>{/if}
  <tr><td>{msg id="site_visitor_email"}:</td><td>{$user.site_visitor_email}</td></tr>
  {if $user.ec_user_telephone}<tr><td>{msg id="ec_user_telephone"}:</td><td>{$user.ec_user_telephone}</td></tr>{/if}
  {if $user.ec_user_icq}<tr><td>{msg id="ec_user_icq"}:</td><td>{$user.ec_user_icq}</td></tr>{/if}
  {if $user.ec_user_delivery_street_address}<tr><td>{msg id="ec_user_delivery_street_address"}:</td><td>{$user.ec_user_delivery_street_address}</td></tr>{/if}
  {if $user.ec_user_delivery_city}<tr><td>{msg id="ec_user_delivery_city"}:</td><td>{$user.ec_user_delivery_city}</td></tr>{/if}
  {if $user.ec_user_delivery_suburb}<tr><td>{msg id="ec_user_delivery_suburb"}:</td><td>{$user.ec_user_delivery_suburb}</td></tr>{/if}
  {if $user.ec_user_delivery_region}<tr><td>{msg id="ec_user_delivery_region"}:</td><td>{$user.ec_user_delivery_region}</td></tr>{/if}
</table>

<h3>{msg id="EC_items"}</h3>
<table border="1px" cellspacing="0" cellpadding="3pt" style="border:none;width:80%;">

<tr>
    <td style="border:none;"><b>{msg id="ec_item_title"}</b></td>
    <td style="border:none;"><b>{msg id="ec_item_price"}</b></td>
    <td style="border:none;">&nbsp;</td>
    <td style="border:none;"><b>{msg id="Number_of_items"}</b></td>
    <td colspan="2" style="border:none;">&nbsp;</td>
</tr>
<tr><td colspan="6"></td></tr>
{foreach from=$order.ec_cart.items item=it key=ke}
    <tr id="tr0_{$ke}">
        <td>
            {$it.info.ec_item_title}
            {if count($it.info.ec_item_variant)>0}
            <div style="color:gray;font-size:80%;">
              {foreach from=$it.info.ec_item_variant item=variant key=k_variant}
                {$variant.ec_item_variant_description|strip_tags}<br/>
              {/foreach}
            </div>
            {/if}
            <div>{msg id="ec_item_uid"}:{$it.info.ec_item_uid}</div>
        </td>
        <td style="border-right:none;">{$it.info.ec_item_price_corrected} {$it.info.ec_item_currency_title}</td>
        <td style="border-right:none;border-left:none;">&times;</td>
        <td style="border-right:none;border-left:none;">{$it.amount}</td>
        <td style="border-right:none;border-left:none;">=</td>
        <td style="border-left:none;" class="b-l-n">
         {math equation="ec_item_price * amount"
               ec_item_price=$it.info.ec_item_price_corrected
               amount=$it.amount}
         {$it.info.ec_item_currency_title}
        </td>
    </tr>
    <tr><td colspan="6"></td></tr>
{/foreach}

<tr>
    <td colspan="5" align="left" valign="top" style="border:none;">{msg id="EC_cart_total"}:</td>
    <td style="border:none;">
        {$order.ec_cart.total} {msg id=$site.ec_currency}
    </td>
</tr>


<tr>
    <td style="border:none;" colspan="6">&nbsp;
      <h3>{msg id="EC_delivery"}</h3>
      {$delivery_info}
    </td>
</tr>

<tr>
    <td colspan="5" align="left" valign="top" style="border:none;">{msg id="EC_cart_total"}:</td>
    <td style="border:none;white-space:nowrap;">
        {$order.ec_cart.delivery_cost} {msg id=$site.ec_currency}
    </td>
</tr>


<tr><td colspan="6" align="right" valign="top" style="border:none;">&nbsp;</td></tr>

<tr>
    <td colspan="5" align="left" valign="top" style="border:none;">{msg id="EC_payment_total"}:</td>
    <td style="border:none;white-space:nowrap;">
        {$order.total} {msg id=$site.ec_currency}
    </td>
</tr>








</table>



