<h3>{msg id="Dear"} {$user.ec_user_name}</h3>



<h2>{msg id="EC_new_order_No"} {$ec_order_id}</h2>

<table border="1px" cellspacing="0" style="border:none;" cellpadding="3px">
<tr><td style="border:none;" colspan=4>
     &nbsp;
     <h3 style='text-align:left;margin:0px;'>{msg id="EC_items"}</h3>
</td></tr>
<tr>
    <td><b>{msg id="ec_item_title"}</b></td>
    <td><b>{msg id="ec_item_uid"}</b></td>
    <td><b>{msg id="Number_of_items"}</b></td>
    <td><b>{msg id="ec_item_price"}</b></td>
</tr>


{foreach from=$ec_cart.items item=it key=ke}
<tr>
    <td>
        {$it.info.ec_item_title}
        {if count($it.info.ec_item_variant)>0}
        <div style="color:gray;font-size:80%;">
          {foreach from=$it.info.ec_item_variant item=variant key=k_variant}
            {$variant.ec_item_variant_description|strip_tags}<br/>
          {/foreach}
        </div>
        {/if}
    </td>
    <td valign="top">{$it.info.ec_item_uid}</td>
    <td valign="top">{$it.amount}</td>
    <td valign="top">{$it.info.ec_item_price_corrected} {$it.info.ec_item_currency_title}</td>
</tr>
{/foreach}


<tr>
    <td colspan="3" align="left" valign="top" style="border:none;">
        {msg id="EC_cart_total"}:
    </td>
    <td style="border:none;">
        {$ec_cart.total} {msg id=$site.ec_currency}
    </td>
</tr>


<tr><td style="border:none;" colspan=4>
        &nbsp;
        <h3 style='text-align:left;margin:0px;'>
            {msg id="EC_delivery"}
        </h3>
        {$delivery_info}
    </td>
</tr>

<tr>
    <td colspan="3" align="left" valign="top" style="border:none;">
        {msg id="EC_cart_total"}:
    </td>
    <td style="border:none;">
        {$ec_cart.delivery_cost} {msg id=$site.ec_currency}
    </td>
</tr>
<tr><td colspan="4" align="left" valign="top" style="border:none;">&nbsp;</td></tr>
<tr>
    <td colspan="3" align="left" valign="top" style="border:none;">
        <h3>{msg id="EC_payment_total"}:</h3>
    </td>
    <td style="border:none;">
        <h3>{$total} {msg id=$site.ec_currency}</h3>
    </td>
</tr>
<tr>
    <td colspan="4" align="left" valign="top" style="border:none;">
        <h3>{msg id="EC_order_creator"}:</h3>
    </td>
</tr>

{if $user.ec_user_name}<tr><td colspan="2">{msg id="ec_user_name"}:</td><td colspan="2">{$user.ec_user_name}</td></tr>{/if}
{if $site_visitor_password}<tr><td colspan="2">{msg id="site_visitor_password"}:</td><td colspan="2">{$site_visitor_password}</td></tr>{/if}
<tr><td colspan="2">{msg id="ec_user_email"}:</td><td colspan="2">{$user.site_visitor_email}</td></tr>
{if $user.ec_user_telephone}<tr><td colspan="2">{msg id="ec_user_telephone"}:</td><td colspan="2">{$user.ec_user_telephone}</td></tr>{/if}
{if $user.ec_user_icq}<tr><td colspan="2">{msg id="ec_user_icq"}:</td><td colspan="2">{$user.ec_user_icq}</td></tr>{/if}

{if $user.ec_user_delivery_street_address}<tr><td colspan="2">{msg id="ec_user_delivery_street_address"}:</td><td colspan="2">{$user.ec_user_delivery_street_address}</td></tr>{/if}
{if $user.ec_user_delivery_city}<tr><td colspan="2">{msg id="ec_user_delivery_city"}:</td><td colspan="2">{$user.ec_user_delivery_city}</td></tr>{/if}
{if $user.ec_user_delivery_suburb}<tr><td colspan="2">{msg id="ec_user_delivery_suburb"}:</td><td colspan="2">{$user.ec_user_delivery_suburb}</td></tr>{/if}
{if $user.ec_user_delivery_region}<tr><td colspan="2">{msg id="ec_user_delivery_region"}:</td><td colspan="2">{$user.ec_user_delivery_region}</td></tr>{/if}

{*
{if $custom.some_field}<tr><td colspan="2">{msg id="ec_user_delivery_region"}:</td><td colspan="2">{$custom.some_field}</td></tr>{/if}
*}
</table>

<a href="{$smarty.const.site_URL}?action=site_visitor/personalpage&site_id={$site.id}&lang={msg id="language_name"}">{msg id="EC_order_details"}/a>
