<p>{$message}</p>


{if $ec_cart.items}
<form action="index.php" style="display:inline;">
<a href="{$edit_cart_url}">{$text.ec_edit_shopping_cart}</a>
<br>
<br>

<h2>{msg id="EC_items"}</h2>
<table border="0px" cellspacing="0" style="border:none;" cellpadding="3px">

<tr>
    <td width="100px"></td>
    <td><b>{$text.ec_item_title}</b></td>
    <td><b>{$text.Number_of_items}</b></td>
    <td width="10px">&nbsp;</td>
    <td><b>{$text.ec_item_price}</b></td>
    <td width="10px">&nbsp;</td>
    <td>&nbsp;</td>
</tr>

{foreach from=$ec_cart.items item=it key=ke}
<tr>
    <td><div style="width:100px;height:100px;overflow:hidden;"><img src="{$site.url}{$it.info.ec_main_image[0]}" width="150px;"/></div></td>
    <td valign="top">
        {$it.info.ec_item_title}
        {if count($it.info.ec_item_variant)>0}
        <div style="color:gray;font-size:80%;">
          {foreach from=$it.info.ec_item_variant item=variant key=k_variant}
            {$variant.ec_item_variant_description}<br/>
          {/foreach}
        </div>
        {/if}
    </td>
    <td valign="top" align="right">{$it.amount}</td>
    <td valign="top">&times;</td>
    <td valign="top">{$it.info.ec_item_price_corrected} {$it.info.ec_item_currency_title}</td>
    <td valign="top" width="10px">=</td>
    <td valign="top">{math equation="x*y" x=$it.amount y=$it.info.ec_item_price_corrected} {$it.info.ec_item_currency_title}</td>
</tr>
{/foreach}

<tr>
    <td colspan="6" align="right" valign="top" style="border:none;">{$text.EC_cart_total}:</td>
    <td style="border:none;">
        {$total} {msg id=$site.ec_currency}
    </td>
</tr>

<tr>
    <td colspan="7" valign="top" style="border:none;"><h2>{msg id="EC_delivery"}</h2></td>
</tr>

<tr>
    <td colspan="1" align="right" valign="top" style="border:none;"></td>
    <td colspan="6" style="border:none;">{$delivery_form}</td>
</tr>


<tr>
    <td colspan="6" align="right" valign="top" style="border:none;">{$text.EC_cart_total}:</td>
    <td style="border:none;">
        {$ec_cart.delivery_cost} {msg id=$site.ec_currency}
    </td>
</tr>


</table>





<br/>
{literal}
<style type="text/css">
    .part input[type="text"],
    .full input[type="text"]{width:100%;margin-bottom:10px;}
    .full{width:100%;display:inline-block;}
    .part{width:70%;display:inline-block; vertical-align:top;}
    .personal{width:25%;display:inline-block; vertical-align:top;}
</style>
<script type="text/javascript">
    function show_hide_saved_data(){
        var ps=document.getElementById('ps');
        var df=document.getElementById('df');
        if(ps.style.display=='none'){
           df.className='part';
           ps.style.display='inline-block';
        }else{
           df.className='full';
           ps.style.display='none';
        }

    }
</script>
{/literal}

<span id="df" class="full">
        {$hidden_order_form_elements}
        {*
          The following field can be used to set form verification rules
          for instance
             ec_user_name&(ec_user_telephone|ec_user_email|ec_user_icq)
          means that ec_user_name is mandatory
          and one of the fields ec_user_telephone,ec_user_email,ec_user_icq
          should be filled-in
        *}
        <input type="hidden" name="ec_test_rule" value="ec_user_name&(ec_user_telephone|ec_user_email|ec_user_icq)"/>
        <br/>
        <h2 style="display:inline;">{msg id="ec_user_contacts"}</h2>
        <a href="javascript:void(show_hide_saved_data())">{msg id="ec_user_saved_info"}</a><br><br>

        {msg id="ec_user_name"}:<br/>
        <input type="text" name="ec_user_name" id="ec_user_name" value="{$custom.ec_user_name}" style="width:100%;">

        {msg id="ec_user_email"}:<br/>
        <input type="text" name="ec_user_email" id="ec_user_email" value="{$custom.ec_user_email}" style="width:100%;"><br>

        {msg id="ec_user_telephone"}:<br/>
        <input type="text" name="ec_user_telephone" id="ec_user_telephone" value="{$custom.ec_user_telephone}" style="width:100%;"><br>

        {msg id="ec_user_icq"}:<br/>
        <input type="text" name="ec_user_icq" id="ec_user_icq" value="{$custom.ec_user_icq}" style="width:100%;"><br>

        <h2>{msg id="ec_user_delivery_address"}</h2>
        {msg id="ec_user_delivery_street_address"}:<br/>
        <input type="text" name="ec_user_delivery_street_address" id="ec_user_delivery_street_address" value="{$custom.ec_user_delivery_street_address}" style="width:100%;"><br>

        {msg id="ec_user_delivery_city"}:<br>
        <input type="text" name="ec_user_delivery_city" id="ec_user_delivery_city" value="{$custom.ec_user_delivery_city}" style="width:100%;"><br>

        {msg id="ec_user_delivery_suburb"}:<br>
        <input type="text" name="ec_user_delivery_suburb" id="ec_user_delivery_suburb" value="{$custom.ec_user_delivery_suburb}" style="width:100%;"><br>

        {msg id="ec_user_delivery_region"}:<br>
        <input type="text" name="ec_user_delivery_region" id="ec_user_delivery_region" value="{$custom.ec_user_delivery_region}" style="width:100%;"><br>
        <br>


        {*
        Custom data:<br>
        <input type="text" name="some_field" id="some_field" value="{$custom.some_field}" style="width:100%;"><br>
        *}

        <input type="submit" value="{$text.ec_place_order}" style="font-size:150%;">


</span>



<span class="personal" id="ps" style='display:none;'>
          <br/><br/>
          <h2 style="margin:0px;">{msg id="ec_user_saved_info"}</h2>
          <br/>
          <div id="ec_user_login_form" style="display:{if $site_visitor_info}none{else}block{/if};">
              {msg id="Login_to_use_saved_info"}<br/><br/>
              {msg id="ec_user_email"}:<br/><input type="text" id="ec_user_email_login" onkeyup="return submit_if_needed(event);"><br/>
              {msg id="ec_user_password"}:<br/><input type="password" id="ec_user_password_login" onkeyup="return submit_if_needed(event);"><br/>
              <input type="button" id="ec_user_button_login" value='{msg id="Login"}' onclick="request_user_info()">
          </div>
          {if $site_visitor_info}
          <div id="ec_user_saved_info" style="width:100%;height:400px;overflow:scroll;display:block;">
              {foreach from=$site_visitor_info.data item=ud}
              <p style='border:1px dotted gray;'>
              <table>
               <tr>
                 <td><input type=button value='<<' onclick="set_values('{$ud.ec_user_id}')"></td>
                 <td>
                     <a href="javascript:void(set_one_value({$ud.ec_user_id},'ec_user_name'))"><span id='ec_user_name{$ud.ec_user_id}'>{$ud.ec_user_name}</span></a><br/>
                     <a href="javascript:void(set_one_value({$ud.ec_user_id},'ec_user_email'))"><span id='ec_user_email{$ud.ec_user_id}'>{$ud.site_visitor_email}</span></a><br/>
                     <a href="javascript:void(set_one_value({$ud.ec_user_id},'ec_user_telephone'))"><span id='ec_user_telephone{$ud.ec_user_id}'>{$ud.ec_user_telephone}</span></a><br/>
                     <a href="javascript:void(set_one_value({$ud.ec_user_id},'ec_user_icq'))"><span id='ec_user_icq{$ud.ec_user_id}'>{$ud.ec_user_icq}</span></a><br/>
                     <a href="javascript:void(set_one_value({$ud.ec_user_id},'ec_user_delivery_city'))"><span id='ec_user_delivery_city{$ud.ec_user_id}'>{$ud.ec_user_delivery_city}</span></a><br/>
                     <a href="javascript:void(set_one_value({$ud.ec_user_id},'ec_user_delivery_region'))"><span id='ec_user_delivery_region{$ud.ec_user_id}'>{$ud.ec_user_delivery_region}</span></a><br/>
                     <a href="javascript:void(set_one_value({$ud.ec_user_id},'ec_user_delivery_street_address'))"><span id='ec_user_delivery_street_address{$ud.ec_user_id}'>{$ud.ec_user_delivery_street_address}</span></a><br/>
                     <a href="javascript:void(set_one_value({$ud.ec_user_id},'ec_user_delivery_suburb'))"><span id='ec_user_delivery_suburb{$ud.ec_user_id}'>{$ud.ec_user_delivery_suburb}</span></a>
                 </td>
               </tr>

              </table>
              </p>
              {/foreach}
          </div>
          {else}
          <div id="ec_user_saved_info" style="width:100%;height:400px;overflow:scroll;display:none;"> </div>
          {/if}
          <div id="ec_user_logout_form" style="display:{if $site_visitor_info}block{else}none{/if};">
              <input type="button" value='{msg id="Logout"}' onclick="do_logout()">
          </div>
          {literal}
          <script language="javascript" type="text/javascript" src="scripts/ec/order/new.js"></script>
          <script language="javascript" type="text/javascript" src="scripts/lib/ajax.js"></script>
          {/literal}
</span>

</form>
{else}
{msg id="EC_items_not_found"}
{/if}