{literal}
<style type="text/css">
.rarr, .larr{
  display:inline-block;
  width:0px;
  height:0px;
  padding:0px;
  margin:0px;
}
.rarr{
 border-right-width:0px;
 border-top:5px solid transparent;
 border-bottom:5px solid transparent;
 border-left:10px solid gray;
 margin-left:3px;
}
.larr{
 border-left-width:0px;
 border-top:5px solid transparent;
 border-bottom:5px solid transparent;
 border-right:10px solid gray;
 margin-right:3px;
}

.oneevent{
  display:inline-block;
  width:99%;
  margin-top:10px;
}

    span.daty{
        display:inline-block;
        float:left;
        padding:5px;
        margin-right:10px;
        margin-top:-5px;
    }
.oneevent{
  margin-top:10px;
  margin-right:220pt;
}
</style>
{/literal}
<span style="display:inline-block;">
<table>
<tr>
<td colspan=4
    align=left
    valign=middle><a href="{$month_table.prev_month_link}" class="larr"></a>{$month_table.month_name}<a href="{$month_table.next_month_link}" class="rarr"></a></td>
<td colspan=3 align=right valign=middle><a href="{$month_table.prev_year_link}" class="larr"></a>{$month_table.year}<a href="{$month_table.next_year_link}" class="rarr"></a></td>
</tr>


<tr>
{foreach from=$month_table.weekdays item=weekday}
<td>{$weekday}</td>
{/foreach}
</tr>

{foreach from=$month_table.days item=row}
<tr>
{foreach from=$row item=cell}
<td>
{if $cell.href}
<a href="{$cell.href}">{$cell.innerHTML}</a>
{else}
{$cell.innerHTML}
{/if}
</td>
{/foreach}
</tr>
{/foreach}

</table>
</span>
{if $day}<h3>{$day}.{$month}.{$year}</h3>{/if}
{foreach from=$events item=ev}
     {capture name=ecclass assign="ecclass"}{if $ev.categories}{foreach from=$ev.event.categories item=_cat} {$_cat.category_code} {/foreach} {/if} {/capture}
     <div class='oneevent {$ecclass}'>
        <span class="daty"><nobr>{$ev.startDate|date_format:"%d.%m.%Y %H:%M"}</nobr></span>
        <div>
        {if $ev.event.adresa}<a href="{$ev.event.adresa}">{/if}
        {if $ev.event.kartynka}<img src="{$ev.event.kartynka}" align="left" border="0px">{/if}
        <b>{$ev.event.nazva}</b><br>
        {if $ev.event.adresa}</a>{/if}
        {$ev.event.description}
        </div>
        {if $ev.event.categories}
               {foreach from=$ev.event.categories item=_cat}
                 <a href="{$_cat.URL}">{$_cat.category_title}</a>
               {/foreach}
        {/if}
     </div>
{/foreach}