<span style='display:inline-block;width:100%;'>




<div style="width:200pt;float:right;text-align:center;">
    <a href="{$ec_producer.ec_producer_url}">
        {$ec_producer.ec_producer_title}
        {if $ec_producer.ec_producer_img}<br><img src="{$site.url}{$ec_producer.ec_producer_img}" width="200pt">{/if}
    </a><br/>
    {foreach name=top from=$ec_item.ec_item_img item=curr_img_src}
       {if $smarty.foreach.top.first}
        <br/><a href="{$site.url}{$curr_img_src.big}" target="_blank" title=""><img src="{$site.url}{$curr_img_src.small}"><br>{$curr_img_src.label}</a><br>
       {/if}
    {/foreach}
</div>


<!-- {*<h4>{$ec_item.ec_item_title}</h4>*} -->

   <a href="{$ec_item.ec_category_view_url}">{get_langstring  lang=$text.language_name from=$ec_item.ec_category_title}</a>
   {foreach name=top from=$ec_item.additional_categories item=ct}
     <a href="{$ct.ec_category_view_url}">{get_langstring  lang=$text.language_name from=$ct.ec_category_title}</a>
   {/foreach}

   {if $ec_item.ec_item_tags}<p>{$ec_item.ec_item_tags}</p>{/if}

   {if $ec_item.ec_item_mark neq ''}<div style="border:2pt dotted silver;">{$ec_item.ec_item_mark}</div>{/if}

{*
   {if $ec_item.ec_item_price gt 0}
      {$text.Price} {$ec_item.ec_item_price} {$ec_item.ec_curency_title}<br>
   {else}
      {$text.ec_gift}<br>
   {/if}
*}

   <p>{$text.Price} {$ec_item.ec_item_price} {$ec_item.ec_curency_title}</p>

   <!-- {*<p>{$ec_item.ec_item_abstract}</p>*} -->

   {capture assign=ec_item_size}{if $ec_item.ec_item_size[0]}{$ec_item.ec_item_size[0]}{/if}{if $ec_item.ec_item_size[1]}x{$ec_item.ec_item_size[1]}{/if}{if $ec_item.ec_item_size[2]}x{$ec_item.ec_item_size[2]}{/if}{/capture}
   {if $ec_item_size}<p>{$text.ec_size}: {$ec_item_size} {$ec_item.ec_item_size[3]}</p>{/if}

   {if $ec_item.ec_item_weight[0]}<p>{$text.ec_weight}: {$ec_item.ec_item_weight[0]} {$ec_item.ec_item_weight[1]}</p>{/if}

   {if $ec_item.ec_item_material}<p>{$text.ec_material}: {$ec_item.ec_item_material}</p>{/if}

   {foreach from=$ec_item.ec_category_item_field item=extra_field}
     {if $extra_field.ec_category_item_field_value}<p>{get_langstring  lang=$text.language_name from=$extra_field.ec_category_item_field_title}: {$extra_field.ec_category_item_field_value}</p>{/if}
   {/foreach}


   <p>{$ec_item.ec_item_last_change_date|date_format:"%d.%m.%Y %H:%M:%S"}</p>
   <p>
      {if $ec_item.ec_item_purchases}{msg id="ec_item_purchases"}:{$ec_item.ec_item_purchases};{/if}
      {if $ec_item.ec_item_views}{msg id="ec_item_views"}:{$ec_item.ec_item_views};{/if}
      {if $ec_item.ec_item_in_cart}{msg id="ec_item_in_cart"}:{$ec_item.ec_item_in_cart};{/if}
   </p>

   {if $ec_item.ec_item_sell eq 1}
      <p>
         <form action="{$ec_item.url_order_now}" method="post">
            {if $ec_item.ec_item_variant}
            <p>
            <b>{$text.Variants}:</b>
            {foreach from=$ec_item.ec_item_variant item=curr_variant}
                {if $curr_variant.ec_item_variant_form_element_name}
                <div style="padding-left:{$curr_variant.ec_item_variant_indent}%;"><label>
                   <input type="radio" name="{$curr_variant.ec_item_variant_form_element_name}" value="{$curr_variant.ec_item_variant_code}" {if $curr_variant.is_default}checked=true{/if}>
                       {$curr_variant.ec_item_variant_description}
                       {if   ( $curr_variant.ec_item_variant_price_correction.operation == "*" && $curr_variant.ec_item_variant_price_correction.value == 1 )
                          || ( $curr_variant.ec_item_variant_price_correction.operation == "/" && $curr_variant.ec_item_variant_price_correction.value == 1 )
                          || ( $curr_variant.ec_item_variant_price_correction.value == 0 ) }
                       {else}
                         ({$curr_variant.ec_item_variant_price_correction.code})
                       {/if}
                </label></div>
                {else}
                <div style="padding-top:10pt;padding-left:{$curr_variant.ec_item_variant_indent}%;">
                       {$curr_variant.ec_item_variant_description}
                </div>
                {/if}
            {/foreach}
            </p>
            {/if}
            <input type="submit" style="font-size:20pt;" value="{$text.EC_item_order_now}">
         </form>
      </p>
   {/if}

   <div style="clear:right;">&nbsp;</div>
   <p>{$ec_item.ec_item_content}</p>
   
   {foreach name=top from=$ec_item.ec_item_img item=curr_img_src}
	  {if $smarty.foreach.top.first}
	  {else}
              <a href="{$site.url}{$curr_img_src.big}"><img src="{$site.url}{$curr_img_src.small}"></a>
	  {/if}
   {/foreach}

</span>
<br><br><br>





{literal}
  <style>
   .comment_body{border-bottom:1px solid gray;}
   .comment_date{font-size:80%;color:gray;}
  </style>
{/literal}
  <h3>{$text.EC_item_comments}</h3>
  {foreach from=$comments->list item=cmt}
      <p>
       <div class=comment_sender>{$cmt.ec_item_comment_sender_name}</div>
       <div class=comment_date>{$cmt.ec_item_comment_datetime}</div>
       <div class=comment_body>{$cmt.ec_item_comment_body}</div>
      </p>
  {/foreach}

  <h3>{$text.New_comment}</h3>
  {$messages}
  <form action=index.php method=post>
    {$comments->form.hidden_form_elements}
    <div>{$text.Comment_sender}</div>
    <input type=text name={$comments->form.comment_sender_name} style='width:100%;' value='{$comments->form.comment_sender_value|escape}'><br/>
    <div>{$text.Comment_content}</div>
    <textarea name={$comments->form.comment_body_name} style='width:100%;height:150pt;'>{$comments->form.comment_body_value|escape}</textarea><br/>
    {$text.Retype_the_number}<br/>
        <nobr><!--
         --><img src={$comments->form.captcha_image_url} id=code align=absmiddle><!--
         --><input type=text name={$comments->form.comment_code_name} style='width:70pt;'><!--
     --></nobr>
          <br><a href="javascript:void(document.getElementById('code').src='{$comments->form.captcha_image_url}&t='+Math.random())">{$text.Reload_code}</a>
<br/><br/>
          <input type=submit value='{$text.Send}' style='width:70pt;'>
  </form>

<div style="clear:right;"></div>

