<!--
List of messages in selected thread
-->

{if $visitor.site_visitor_id eq '0'}
  <div>
      Anonymous(<a href="{$visitor.URL_login}"  target=popup>{msg id="Login"}</a> <a href="{$visitor.URL_signup}" target=popup>{msg id="Signup"}</a> )
  </div><br/>
{else}
  <div>
      {$visitor.site_visitor_login|escape:"html"}( <a href="{$visitor.URL_logout}"  target=popup>{msg id="Logout"}</a> )<br/>
      <a href="mailto:{$visitor.site_visitor_email|escape:"html"}">{$visitor.site_visitor_email|escape:"html"}</a>
	  <a href="{$visitor.site_visitor_home_page_url|escape:"html"}">{$visitor.site_visitor_home_page_url|escape:"html"}</a>
  </div><br/>
{/if}
<p>{$forum.about}</p>
<br>
<a href="{$URL_view_forum_list}">{$site.title} - {msg id="forum_list"}</a><br>
&nbsp;&nbsp;&nbsp;<a href="{$URL_view_thread_list}">{$forum.name} - {msg id="forum_threads"}</a>
<br><br>

{literal}
<style type="text/css">
    span.msg_marker{
        display:inline-block;
        width:3%;
        padding:0px;
        vertical-align:top;
    }
    span.msg_sender, span.thread_starter{
        display:inline-block;
        width:30%;
        padding:0px;
        vertical-align:top;
    }

    span.thread_starter{
        background-color:white;
    }
    span.msg_sender{
        background-color:#e0e0e0;
    }
    span.msg_body, span.thread_start_message{
        display:inline-block;
        width:65%;
        vertical-align:top;
        border-top:1px solid #e0e0e0;
        margin-left:-1px;
    }

    span.msg_body h3, span.thread_start_message h3{margin:0px;}

    span.msg_sender div,
    span.thread_starter div,
    span.msg_body div,
    span.thread_start_message div{
        padding:10px;
    }


</style>
{/literal}
{if $visitor.is_moderator}
   <span class="msg_marker">
       {if $thread.some_messages_visible}<img src="/cms/img/icon_approved.png">{else}<img src="/cms/img/icon_hidden.png">{/if}
   </span>
{/if}
<span class="thread_starter"><div>
    {if $thread.msg_sender_email}{$thread.msg_sender_email}<br>{/if}
    {if $thread.msg_sender_www}<a href={$thread.msg_sender_www}>{$thread.msg_sender_www}</a><br />{/if}
    <b>{$thread.msg_data}</b><br>
    {if $visitor.is_moderator or $row.name == $visitor.site_visitor_login}
	   <a href="{$thread.URL_delete}" onclick="return confirm('Are you sure?');">{msg id="Delete"}</a>
           {* {if $thread.is_visible}<a href="{$thread.URL_hide}">{msg id="Hide"}</a>{else}<a href="{$thread.URL_show}">{msg id="Show"}</a>{/if} *}
    {/if}
</div></span><!--
 --><span class="thread_start_message"><div><h3>{$thread.subject}</h3></div></span>




{if $visitor.is_moderator}
   <span class="msg_marker">
       {if $thread.msg_is_visible}<img src="/cms/img/icon_approved.png">{else}<img src="/cms/img/icon_hidden.png">{/if}
   </span>
{/if}
<span class="thread_starter"><div>

    {if $visitor.is_moderator or $row.name == $visitor.site_visitor_login}
        <a href="javascript:void(editform({$thread.msg_id}));">{msg id="Edit"}</a>
        {if $thread.msg_is_visible}<a href="{$thread.URL_hide}">{msg id="Hide"}</a>{else}<a href="{$thread.URL_show}">{msg id="Show"}</a>{/if}
    {/if}
</div></span><!--
 --><span class="thread_start_message"><div id="text{$thread.msg_id}">{$thread.msg_body}</div></span>

<br>



<p>{$pages}</p>


{foreach from=$messages item=row}
{if $visitor.is_moderator}
   <span class="msg_marker">
       {if $row.is_visible}<img src="/cms/img/icon_approved.png">{else}<img src="/cms/img/icon_hidden.png">{/if}
   </span>
{/if}
<span class="msg_sender"><div>
    {$row.name}<br>
    {if $row.www}<a href={$row.www}>{$row.www}</a><br />{/if}
    <b>{$row.data}</b>
	{if $visitor.is_moderator or $row.name == $visitor.site_visitor_login}
	   <br>
           <a href="javascript:void(editform({$row.id}));">{msg id="Edit"}</a>
           <a href="{$row.URL_delete}">{msg id="Delete"}</a>
           {if $row.is_visible}<a href="{$row.URL_hide}">{msg id="Hide"}</a>{else}<a href="{$row.URL_show}">{msg id="Show"}</a>{/if}
	{/if}
</div></span><span class="msg_body"><div id="text{$row.id}">{$row.msg}</div></span>
<br>
{/foreach}

{$pages}







<br><br>

<h2>{msg id="Create_message"}</h2>

<script type="text/javascript" src="{$smarty.const.site_root_URL}/scripts/forum/functions.js"></script>
<script type="text/javascript" src="{$smarty.const.site_root_URL}/scripts/lib/ajax.js"></script>
<script type="text/javascript">
  var site_root_url='{$smarty.const.site_root_URL}';
{literal}
  window.onload=function(){editor_init('message_body');}
{/literal}
</script>
{literal}
<style>
.smilesbtn{
 background-repeat: no-repeat;
 background-position:center center;
 width:24px;
 height:24px;
 border:none;
 background-color:transparent;
}
</style>
{/literal}
<form action='{$form.action}' method='post'>
  {$form.hiddent_fields}
  {$form.errors}

{if $visitor.site_visitor_id eq '0'}
  <div>
      {msg id="Name"}:Anonymous(<a href="{$visitor.URL_login}"  target=popup>{msg id="Login"}</a> <a href="{$visitor.URL_signup}" target=popup>{msg id="Signup"}</a> )
  </div><br/>
  <div>
   <b>{msg id="Name"}</b><br/>
   <INPUT type='text' NAME='{$form.fld_name.name}'  SIZE='25' style='width:100%;' value="{$form.fld_name.value|escape:"html"}">
  </div><br/>

  <div>
   <b>{msg id="Email"}</b><br/>
   <INPUT type='text' NAME='{$form.fld_email.name}'  SIZE='25' style='width:100%;' value="{$form.fld_email.value|escape:"html"}">
  </div><br/>
{else}
  <div>
      {msg id="Name"} : {$visitor.site_visitor_login|escape:"html"}( <a href="{$visitor.URL_logout}"  target=popup>{msg id="Logout"}</a> )<br/>
      {msg id="Email"}: {$visitor.site_visitor_email|escape:"html"}<br/>
      WWW:{$visitor.site_visitor_home_page_url|escape:"html"}
  </div><br/>
{/if}
{*
<div>
<b>{msg id="forum_thread_subject"} <font color=red size=+1>*</font></b><br/>
<INPUT type='text' NAME='{$form.fld_subject.name}'  SIZE='25' style='width:100%;' value="{$form.fld_subject.value|escape:"html"}">
</div><br/>*}

<div>
<b>{msg id="Message"} <font color=red size=+1>*</font></b><br/>
<textarea NAME='{$form.fld_msg.name}'
          rows=15
          cols=40
          style='width:100%;'
          id='message_body'
          wrap='virtual'
          tabindex='3'>{$form.fld_msg.value|escape:"html"}</textarea>
</div><br/>

<div>
<b>{msg id="Retype_the_number"} <font color=red size=+1>*</font></b>
<img src="{$form.fld_postedcode.value}" class="capcha" border=1px align="top">
<input type=text name=postedcode value=''>
</div><br/>

<input type=submit value='{msg id="Send"}'>
</form>
{*
<script type="text/javascript" src="{$cms_root_url}/scripts/lib/pdfobject.js"></script>
{literal}
<script type="text/javascript">
var prev_onload=window.onload;
window.onload = function (){
    if(prev_onload){
        prev_onload();
    }
    if(!pdf_files){
        return;
    }
    for(var id in pdf_files){
        var success = new PDFObject({ url: pdf_files[id] }).embed(id);
        //alert(''+id+' => '+pdf_files[id] +" success="+success);
    }
};
</script>
{/literal}
*}
{literal}
<style type="text/css">
    .pdf_file{
        width:100%;
        height:500px;
    }
</style>
{/literal}