{foreach from=$categories item="category"}/&nbsp;<a href="{$category.url}">{$category.innerHTML}</a>&nbsp;{/foreach}
<br>

{if $link.prev.url}<a href="{$link.prev.url}">{$link.prev.innerHTML}</a>{/if}
&nbsp;
{if $link.next.url}<a href="{$link.next.url}">{$link.next.innerHTML}</a>{/if}
<br>
<img src="{$image.src_big}">
<p>{$image.pidpys}
   {if $image.autor}<br><small><b>{$text.Gallery_image_author}:</b> {$image.autor}</small>{/if}
   {if $image.rik}<br><small><b>{$text.Gallery_image_rik}:</b> {$image.rik}</small>{/if}
   {if $image.rozdil}<br><small><b>{$text.Gallery_category}:</b> {$image.rozdil}</small>{/if}
</p>
<p>
{$image.description}
</p>