{if $category->parents}
    {foreach from=$category->parents item=parent}
    <a title="{$parent.category_title|escape}" href="{$site.url}{$text.language_name}/{$parent.path|regex_replace:"/^[^\/]+(\/|$)/":""}{*$parent.URL*}">{if $parent.category_title_short}{$parent.category_title_short}{else}{$parent.category_title}{/if}</a> /
    {/foreach}
    <span class="current">{if $category->info.category_title_short}{$category->info.category_title_short}{else}{$category->info.category_title}{/if}</span>
{/if}

<h1>{$category->info.category_title}</h1>

{if $category->children}
    <ul id="sub">
        {foreach from=$category->children item=child}
        <li class="category-child">
          {if $child.redirectURL}
          <a target=_blank title="{$child.category_title|escape}" href="{$child.redirectURL}">{$child.category_title}</a>
          {else}
          <a title="{$child.category_title|escape}" href="{$site.url}{$text.language_name}/{$child.path|regex_replace:"/^[^\/]+(\/|$)/":""}{*$child.URL*}">{$child.category_title}</a>
          {/if}
        </li>
        {/foreach}
    </ul>
{/if}


<span style="display:inline-block;width:99%;margin-top:10pt;">
{$category->info.category_description}
<div style='text-align:right;'>{*$category.date_last_changed*}{$category->info.date_lang_update}</div>
</span>



{*  list attached events per child *}
{*
{literal}
<style type="text/css">
    span.daty{
        display:inline-block;
        float:left;
        background-color: #e0e0e0;
        padding:5px;
        margin-right:10px;
        margin-top:-5px;
    }
    div.event {
        margin-top:15px;
    }
</style>
{/literal}



{foreach from=$events->dateselector->parents item=dts}
/ <a href="{$dts.URL}">{$dts.innerHTML}</a>
{/foreach}
{if $events->dateselector->current.innerHTML}/ {$events->dateselector->current.innerHTML}{/if}
<div>
{foreach from=$events->dateselector->children item=dts}
<a href="{$dts.URL}">{$dts.innerHTML}</a>
{/foreach}
</div>


{if $category.children}
  {foreach from=$category.children item=child}
    {capture name=foo assign=foo}{literal}{$events->category_{/literal}{$child.category_id}{literal}}{/literal}{/capture}
    {eval var=$foo}
    <h4>{$child.category_title}</h4>
    {if $child.category_description}<div>{$child.category_description}</div>{/if}
    {foreach from=$events->list item=_item}
          <div class="event">
                <span class="daty">
                    {foreach from=$_item.dates item=_dt}
                    {capture name=npt assign="poch_text"}{if $_dt.pochtyzh_text}{$_dt.pochtyzh_text},{/if} {if $_dt.pochmis_text}{$_dt.pochmis_text},{/if} {if $_dt.pochday_text}{$_dt.pochday_text},{/if} {if $_dt.pochrik_text}{$_dt.pochrik_text},{/if}{/capture}
                    {capture name=npt assign="kin_text"}{if $_dt.kintyzh_text}{$_dt.kintyzh_text},{/if} {if $_dt.kinmis_text}{$_dt.kinmis_text},{/if} {if $_dt.kinday_text}{$_dt.kinday_text},{/if} {if $_dt.kinrik_text}{$_dt.kinrik_text},{/if}{/capture}
                    <nobr>
                      {$poch_text|regex_replace:"/, +$/":""}
                      {if $poch_text neq $kin_text}
                      -- {$kin_text|regex_replace:"/, +$/":""}
                      {/if}
                    </nobr><br/>
                    {/foreach}
                </span>
          <div style='margin-bottom:0;'>
                  {if $_item.kartynka}<img src="$_item.kartynka" align="right">{/if}
            {if $_item.adresa}
              <a href="{$_item.adresa}">{$_item.nazva}</a>
            {else}
              <b>{$_item.nazva}</b>
            {/if}
          </div>
                {if $_item.description}<div>{$_item.description}</div>{/if}
                {if $_item.categories}
                {foreach from=$_item.categories item=_cat}
                  <a href="{$_cat.URL}">{$_cat.category_title}</a>
                {/foreach}
                {/if}

                {if $_item.nearest_dates}
                <div>
                {txt lang=$text.language_name variants="eng=nearest dates::rus=ближайшие даты::ukr=найближчі дати"}:
                {foreach from=$_item.nearest_dates item=dat}
                  {$dat|date_format:"%d.%m.%Y"}
                {/foreach}
                </div>
                {/if}
          </div>
        <div style="clear:left;"></div>

    {/foreach}
  {/foreach}
{/if}

*}



{*  list attached events 

{$events->setRowsPerPage(1)}
{$events->setCategoryId(13)}
{$events->setOrdering("year, month, day, hour, minute, category")}


{$events->setRowsPerPage(100)}
{$events->setOrdering("year, month, day, hour, minute, category")}

{foreach from=$events->dateselector->parents item=dts}
/ <a href="{$dts.URL}">{$dts.innerHTML}</a>
{/foreach}
{if $events->dateselector->current.innerHTML}/ {$events->dateselector->current.innerHTML}{/if}
<div>
{foreach from=$events->dateselector->children item=dts}
<a href="{$dts.URL}">{$dts.innerHTML}</a>
{/foreach}
</div>

{if $events->items_found gt 0}
{literal}
<style type="text/css">
    span.daty{
        display:inline-block;
        float:left;
        background-color: #e0e0e0;
        padding:5px;
        margin-right:10px;
        margin-top:-5px;
    }
    div.event {
        margin-top:15px;
    }
</style>
{/literal}






<div align=left><b>
	{txt lang=$text.language_name variants="eng=Events::rus=События::ukr=Події"}
	{$events->start}-{$events->finish}
	(
	 {txt lang=$text.language_name variants="eng=events found::rus=всего найдено::ukr=всього знайдено"} : {$events->items_found}
	)
</b></div>



{capture name=npt assign="currentYear"}{/capture}
{capture name=npt assign="currentMonth"}{/capture}
{capture name=npt assign="currentDay"}{/capture}
{capture name=npt assign="prevCategorySet"}{/capture}
{foreach from=$events->list item=_item}

  {capture name=npt assign="currentCategorySet"}{if $_item.event.categories}{foreach from=$_item.event.categories item=_cat}<a href="{$_cat.URL}">{$_cat.category_title}</a>{/foreach}{/if}{/capture}



  {if $currentYear neq $_item.y}
     <h2>{$_item.y}{txt lang=$text.language_name variants="eng=-th year::rus=-й год::ukr=-й рік"}</h2>
     {capture name=npt assign="currentYear"}{$_item.y}{/capture}
  {/if}
  {if $currentMonth neq $_item.m}
     <h3>{$_item.monthName}</h3>
     {capture name=npt assign="currentMonth"}{$_item.m}{/capture}
  {/if}
  {if $currentDay neq $_item.d}
     <h4>{$_item.dayName}</h4>
     {capture name=npt assign="currentDay"}{$_item.d}{/capture}
  {/if}

  
  {if $currentCategorySet neq $prevCategorySet}
      <h5>{$currentCategorySet}</h5>
      {capture name=npt assign="prevCategorySet"}{$currentCategorySet}{/capture}
  {/if}

  
	<div class="event">
    <span class="daty">{$_item.startDate|date_format:"%Y-%m-%d %H:%M:%S"}</span>
	  <div style='margin-bottom:0;'>
        {if $_item.event.kartynka}<img src="$_item.event.kartynka" align="right">{/if}
	      {if $_item.event.adresa}
	        <a href="{$_item.adresa}">{$_item.event.nazva}</a>
	      {else}
	        <b>{$_item.event.nazva}</b>
	      {/if}
	  </div>
    {if $_item.event.description}<div>{$_item.event.description}</div>{/if}

    {$currentCategorySet}
	</div>
	<div style="clear:left;"></div>
{/foreach}

{if $events->pages[1]}
    <br />
    <div align=left>
    {$text.Pages} :
    {foreach from=$events->pages item=link}
      {if $link.URL|count_characters >2}
        <a href="{$link.URL}">{$link.innerHTML}</a>
      {else}
        {$link.innerHTML}
      {/if}
    {/foreach}
    </div>
{/if}

{/if}
 *}

{* list of attached news 
{$news->setRowsPerPage(9)}
{$news->createDateSelector()}
{$news->createTagSelector()}

  <div style="width:300px; float:right; margin:0 0 20px 20px;">
  {foreach from=$news->tagSelector item=tgs}
     {if $tgs.selected}
       <a href="{$tgs.url}" style="color:white;background-color:#AF4331;">&nbsp;{$tgs.tag} ({$tgs.N})&nbsp;</a>
     {else}
       <a href="{$tgs.url}">&nbsp;{$tgs.tag} ({$tgs.N})&nbsp;</a>
     {/if}
  {/foreach}
  </div>


  {foreach from=$news->dateselector->parents item=dts name=foo}
    / <a href="{$dts.URL}">{$dts.innerHTML}</a>
  {/foreach}
  {if $news->dateselector->current.innerHTML}/ {$news->dateselector->current.innerHTML}{/if}
  <div>
  {foreach from=$news->dateselector->children item=dts}
  <a href="{$dts.URL}">{$dts.innerHTML}</a>
  {/foreach}
  </div>

  {if $news->items_found gt 0}

	<div align=left><b>
	{txt lang=$text.language_name variants="eng=News::rus=Новости::ukr=Новини"}
	{$news->start}-{$news->finish}
	(
	 {txt lang=$text.language_name variants="eng=news found::rus=всего найдено::ukr=всього знайдено"} : {$news->items_found}
	)
	</b></div>


	{foreach from=$news->list item=news_item}
	  <div align=left>
	    <div>
	    <h4 style='margin-bottom:0;'>
	      {if $news_item.content_present eq '1'}
	        <a href="{$news_item.URL_view_details}">{$news_item.title}</a>
	      {else}
	        {$news_item.title}
	      {/if}
	    </h4>
	    <div style='font-size:90%;'>{$news_item.last_change_date|date_format:"%Y-%m-%d %H:%M:%S"} {if $news_item.expiration_date}... {$news_item.expiration_date|date_format:"%Y-%m-%d %H:%M:%S"}{/if}</div>
	    {$news_item.abstract}
            {$news_item.tags}
            {if $news_item.categories}
                {foreach from=$news_item.categories item=_cat}
                   <a href="{$_cat.URL}">{$_cat.category_title}</a>
                {/foreach}
            {/if}
	    </div>
	  </div>
	  <div style="clear:both;"></div>
	{/foreach}
        {if $news->pages[1]}
	<br />
	<div align=left>
	{$text.Pages} :
	{foreach from=$news->pages item=link}
	  {if $link.URL|count_characters >2}
	    <a href="{$link.URL}">{$link.innerHTML}</a>
	  {else}
	    {$link.innerHTML}
	  {/if}
	{/foreach}
	</div>
        {/if}
{/if}
 *}