<script type="text/javascript" src="{$site.extra_setting.publicCmsUrl}/scripts/lib/jquery.lightbox.js"></script>
<link rel="stylesheet" type="text/css" href="{$site.extra_setting.publicCmsUrl}/img/jquery_lightbox/css/jquery.lightbox-0.5.css" media="screen" />
<script type="text/javascript" src="{$site.extra_setting.publicCmsUrl}/scripts/photo/view.js"></script>
{literal}
<style type="text/css">
    .sma_icon {
        background-size: cover;
        display: inline-block;
        height: 200px;
        width: 280px;
        margin: 0rem 1rem 0rem 1rem;
    }
    .paging{
        left: 0;
        margin-left: 3rem;
        margin-top: -1rem;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        display: block;
        width: 93%;
        position: absolute;
        text-align: center;
        font-size: 1.2rem;
    }
    .pagenav{
        padding-right: 1px;
        padding-left: 1px;
        background-color: rgba(255, 255, 255, 0.92);
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 60%;
        background-size: contain;
        margin: 0.5rem 0rem 0.5rem 0rem;
        display: inline-block;
        text-decoration: none;
    }
    a{
        line-height: 2.5rem;
        text-decoration: none;
    }
    .active{
        font-size: 1.5rem;
        color: #fff;
        background-color: #3852A6;
        text-decoration: none;
    }
    a.pagenav{
        text-decoration: none;
    }
    a.pagenav.active:hover{
        color:#fff;
        text-decoration: none;
    }
    .prev{
        left: 1rem;
        position: absolute;
        margin: 0.2rem 2rem 0.2rem 0.2rem;
    }
    .next{
        right: 1rem;
        position: absolute;
        margin: 0.2rem 0.2rem 0.2rem 2rem;
    }

    @media (max-width: 320px) {
        .paging{
            width: 100%;
        }
        .pagenav{display: none;}
        .pagenav.prev{
            left: 1rem;
            position: absolute;
            margin-left: 2rem;
        }
        .pagenav.next{
            right: 1rem;
            position: absolute;
            margin-right: 2rem;
        }
        .pagenav.first{
            display: inline-block;
        }
        .pagenav.last{
            display: inline-block;
        }
        .pagenav.active{
            display: inline-block;
        }
    }
    @media (max-width: 760px) {
        .pagenav{
            display: none;
	}
        .pagenav.prev{
            display: inline-block;
            left: 1rem;
            position: relative;
        }
        .pagenav.next{
            display: inline-block;
            right: 1rem;
            position: relative;
        }
        .pagenav.first{
            display: inline-block;
        }
        .pagenav.last{
            display: inline-block;
        }
        .pagenav.active{
            display: inline-block;
        }
    }
    @media (max-width: 970px) {
        .pagenav{
            display: none;
	}
        .pagenav.prev{
            display: inline-block;
            left: 1rem;
            position: relative;
        }
        .pagenav.next{
            display: inline-block;
            right: 1rem;
            position: relative;
        }
        .pagenav.first{
            display: inline-block;
        }
        .pagenav.last{
            display: inline-block;
        }
        .pagenav.active{
            display: inline-block;
        }
    }

    .allimgs{
        display: block;
        margin-bottom: 3rem;
    }
    .allimgs_d{
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        width: 99%;
    }
    .allimgs_list{
        -webkit-transition: margin-left 0.6s ease-in-out;
        -moz-transition: margin-left 0.6s ease-in-out;
        -o-transition: margin-left 0.6s ease-in-out;
        transition: margin-left 0.6s ease-in-out;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
    }
</style>
{/literal}

<span class=allimgs>
    <span class="allimgs_d"><span class="allimgs_list" id="allimgs_cat"><!--
    {foreach from=$category->images item="image" name="subcategory_loor"}
        --><a href="{$site.site_root_url}/{$image.photo_imgfile.full}"
           title="{$image.photo_title|escape} {$imgId} {$category->info.photo_category_title|escape}"
           class="sma sma{$smarty.foreach.subcategory_loor.iteration} bez"
           rel=lightbox><!-- 
           --><span class="sma"><!-- 
	       --><span class="sma_icon" style="background-image:url({$site.site_root_url}/{$image.photo_imgfile.small})"></span><!-- 
	   --></span><!-- 
        --></a><!--
    {/foreach}
 --></span></span>
   <div class="paging"> <div id="gallery_image_paging"> </div> </div>
</span>

<script type="text/javascript">
    var cms_root_url='/cms';
</script>
{literal}
<script type="text/javascript">
    $('a[rel=lightbox]').lightBox({
        overlayBgColor: '#FFF',
        overlayOpacity: 0.6,
        imageLoading: cms_root_url+'/img/jquery_lightbox/images/lightbox-ico-loading.gif',
        imageBtnClose: cms_root_url+'/img/jquery_lightbox/images/lightbox-btn-close.gif',
        imageBtnPrev:  cms_root_url+'/img/jquery_lightbox/images/lightbox-btn-prev.gif',
        imageBtnNext:  cms_root_url+'/img/jquery_lightbox/images/lightbox-btn-next.gif',
        imageBlank:cms_root_url+'/img/jquery_lightbox/images/lightbox-blank.gif'
    });
</script>

<script type="text/javascript">
    $(window).load(function() {
        var sc=new scroller('allimgs_cat');
        sc.drawPageNav('#gallery_image_paging');
    });
</script>
{/literal}