<HTML>
<HEAD>
<TITLE>	</TITLE>


<style type="text/css">
<!-- 
a.menu:hover
{
  color:white;
  font-weight:bold;
} 
a.menu
{
  color:#eeeeee;
  font-weight:bold;
}
.header
{
  color:white;
  filter : Glow(Color="#909090",Strength="10");
  position:absolute;
  padding:20px;
}
-->
</style>
</HEAD>
<BODY style="margin:0px;padding:0px;background-color:#c0c0c0;">

<!-- Begin Table -->
<TABLE BORDER="0px" CELLPADDING="0" CELLSPACING="0">

<TR>
  <TD ROWSPAN="1" COLSPAN="1" valign=bottom align=right WIDTH="153" HEIGHT="120" style="width:153px;height:120px;background-image:url(web-lab-design.01_1x1.gif);">
  	<a href=""><IMG NAME="weblabdesign010" SRC="spider.gif" BORDER="0" alt="Webmaster"/></a>
  </TD>
  <TD ROWSPAN="1" COLSPAN="1" HEIGHT="120" valign=top style="height:120px;background-image:url(web-lab-design.01_1x2.gif);">
      <div align=right style="padding-left:20px; padding-right:20px;">
      <!-- begin language selector -->
       rus
      <!-- end language selector -->
      </div>
      <nobr class=header><h1>
        <!-- begin page title -->
         ПОСЛЕДНЕЕ ЖЕЛАНИЕ
        <!-- end page title -->
        </h1></nobr>
  </TD>
</TR>

<TR>
<TD ROWSPAN="1" COLSPAN="1" WIDTH="153" valign=top style="width:153px;height:200px;background-image:url(web-lab-design.01_2x1.gif);">
<IMG NAME="weblabdesign012" SRC="spacer.gif" WIDTH="153px" HEIGHT="20px" BORDER="0">
<div style="padding-left:15px;">
<a href="#" class=menu>f fg dfh dgh klg vcf fg dfh dgh klg vc</a><br/>
<a href="#" class=menu>f fg dfh dgh klg vc</a><br/>
<a href="#" class=menu>f fg dfh dgh klg vc</a><br/>
<a href="#" class=menu>f fg dfh dgh klg vc</a><br/>
<a href="#" class=menu>f fg dfh dgh klg vc</a><br/>
<a href="#" class=menu>f fg dfh dgh klg vc</a><br/>
<a href="#" class=menu>f fg dfh dgh klg vc</a><br/>
</div>
</TD>
<TD ROWSPAN="2" COLSPAN="1" style="background-image:url(web-lab-design.01_2x2.gif);background-repeat:no-repeat; padding:20px;">
<!-- begin page content -->

<p>
Анджей САПКОВСКИЙ<br>
<br>
<p>ПОСЛЕДНЕЕ ЖЕЛАНИЕ<br>
<br>
<br>
<br>
__________________________________________________________________________<br>
<br>
<br>
<br>
<p>                             ГЛАС РАССУДКА I<br>
<br>
<br>
<p>     Она пришла под утро.<br>
<p>     Вошла осторожно, тихо, бесшумно  ступая,  плывя  по  комнате,  словно<br>
призрак, привидение, а единственным звуком, выдававшим  ее  движение,  был<br>
шорох накидки, прикасавшейся к голому телу. Однако именно  этот  исчезающе<br>
тихий, едва уловимый шелест разбудил ведьмака, а может, только  вырвал  из<br>
полусна, в котором он мерно  колыхался,  словно  погруженный  в  бездонную<br>
тонь, висящий между дном и поверхностью спокойного  моря,  среди  легонько<br>
извивающихся нитей водорослей.<br>
<p>     Он не  пошевелился,  даже  не  дрогнул.  Девушка  подпорхнула  ближе,<br>
сбросила накидку, медленно, нерешительно оперлась коленом о край ложа.  Он<br>
наблюдал  за  ней  из-под  опущенных  ресниц,  не  выдавая  себя.  Девушка<br>
осторожно поднялась на постель, легла на него, обхватила бедрами. Опираясь<br>
на напряженные  руки,  скользнула  по  его  лицу  волосами.  Волосы  пахли<br>
ромашкой. Решительно и как бы нетерпеливо наклонилась, коснулась  сосочком<br>
его века, щеки, губ. Он улыбнулся, медленно, осторожно, нежно взял ее руки<br>
в свои. Она выпрямилась, ускользая от его пальцев, лучистая,  подсвеченная<br>
и от этого света нечеткая в туманном отблеске зари. Он пошевелился, но она<br>
решительным нажимом обеих рук остановила его и  легкими,  но  настойчивыми<br>
движениями бедер добилась ответа.<br>
<p>     Он ответил. Она уже не избегала его рук, откинула голову,  встряхнула<br>
волосами. Ее кожа была холодной и поразительно гладкой. Глаза, которые  он<br>
увидел, когда она приблизила свое  лицо  к  его  лицу,  были  огромными  и<br>
темными, как глаза русалки.<br>
<p>     Покачиваясь, он утонул в ромашковом море, а оно взбурлило и зашумело,<br>
потеряв покой.<br>
<br>
<br>
<br>
<br>
__________________________________________________________________________<br>
<br>
<br>
<p>                                 ВЕДЬМАК<br>
<br>
<br>
<p>                                    1<br>
<br>
<br>
<p>     Потом  говорили,  что  человек  этот  пришел  с  севера,  со  стороны<br>
Канатчиковых ворот. Он шел, а навьюченную лошадь вел под уздцы. Надвигался<br>
вечер, и лавки канатчиков и шорников уже  закрылись,  а  улочка  опустела.<br>
Было тепло, но на человеке был черный плащ, накинутый на плечи. Он обращал<br>
на себя внимание.<br>
<p>     Путник остановился  перед  трактиром  &quot;Старая  Преисподняя&quot;,  постоял<br>
немного, прислушиваясь к гулу голосов. Трактир, как всегда  в  это  время,<br>
был полон народу.<br>
<p>     Незнакомец не вошел в &quot;Старую Преисподнюю&quot;, а  повел  лошадь  дальше,<br>
вниз по улочке к другому трактиру, поменьше, который назывался  &quot;У  Лиса&quot;.<br>
Здесь было пустовато - трактир пользовался не лучшей репутацией.<br>
<p>     Трактирщик поднял голову от бочки с солеными огурцами и смерил  гостя<br>
взглядом. Чужак, все еще в плаще, стоял перед стойкой твердо, неподвижно и<br>
молчал.<br>
<p>     - Что подать?<br>
<p>     - Пива, - сказал незнакомец. Голос был неприятный.<br>
<p>     Трактирщик  вытер  руки  полотняным  фартуком  и  наполнил   щербатую<br>
глиняную кружку.<br>
<p>     Незнакомец не был стар,  но  волосы  у  него  были  почти  совершенно<br>
белыми. Под плащом он носил потертую кожаную куртку со шнуровкой у горла и<br>
на рукавах. Когда сбросил плащ, стало видно, что на ремне за спиной у него<br>
висит меч. Ничего странного в этом не было, в Вызиме почти  все  ходили  с<br>
оружием, правда, никто не носил меч на спине, словно лук или колчан.<br>
<p>     Незнакомец не присел  к  столу,  где  расположились  немногочисленные<br>
посетители, а остался у стойки, внимательно изучая взглядом трактирщика.<br>
<p>     - Ищу комнату на ночь, - проговорил он, отхлебнув из кружки.<br>
<p>     - Нету, - буркнул трактирщик, глядя на  обувку  гостя,  запьленную  и<br>
грязную. - Спросите в &quot;Старой Преисподней&quot;.<br>
<p>     - Я бы хотел здесь.<br>
<p>     - Нету. - Трактирщик наконец распознал выговор незнакомца. Ривянин.<br>
<p>     - Я заплачу, - тихо и как бы неуверенно сказал чужак.<br>
<p>     Тогда-то и началась эта паскудная история. Рябой верзила,  с  момента<br>
появления чужака не спускавший с него угрюмого взгляда, встал и подошел  к<br>
стойке. Двое из его дружков встали шагах в двух позади.<br>
<p>     - Ну, нету же местов, шпана  ривская,  -  гаркнул  рябой,  подходя  к<br>
незнакомцу вплотную, - Нам тута, в Вызиме, такие ни к чему. Это порядочный<br>
город.<br>
<p>     Незнакомец взял свою кружку и отодвинулся. Взглянул  на  трактирщика,<br>
но тот отвел глаза. Он и не думал защищать ривянина. Да и кто любит ривян?<br>
<p>     - Что ни ривянин, то ворюга, - продолжал  рябой,  от  которого  несло<br>
пивом, чесноком и злобой. - Слышь, что говорю, недоносок?<br>
<p>     - Не слышит он, уши-то дерьмом забил, - промямлил один  из  тех,  что<br>
стояли позади. Второй захохотал.<br>
<p>     - Плати и выматывайся, - рявкнул рябой.<br>
<p>     Только теперь незнакомец взглянул на него.<br>
<p>     - Пиво допью.<br>
<p>     - Мы те подмогнем, - прошипел дылда. Он выбил у  ривянина  кружку  и,<br>
одновременно схватив одной рукой плечо, впился пальцами другой  в  ремень,<br>
пересекающий наискось грудь чужака. Один из стоявших  позади  размахнулся,<br>
собираясь ударить. Чужак развернулся на месте, выбив рябого из равновесия.<br>
<br>
<p>
<i>Страница 1 из 87</i> 


<!-- end page content -->



</TD>
</TR>
<tr>
<TD ROWSPAN="1" COLSPAN="1" WIDTH="153" valign=top style="width:153px;height:120px;background-image:url(left_bg.gif);">
<IMG NAME="weblabdesign012" SRC="spacer.gif" WIDTH="153px" HEIGHT="20px" BORDER="0">
</TD>
</tr>
</TABLE>
<!-- End Table -->

</BODY>
</HTML>
