{* assign var="znu_root_url" value="http://www.znu.edu.ua" *}
{assign var="znu_root_url" value="http://gen.znu.edu.ua/_sites/znu_main"}
<!DOCTYPE html>
<html lang="uk">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{$page.title} - {txt lang=$text.language_name variants="eng=ZNU::rus=ЗНУ::ukr=ЗНУ"}</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        
        {if $smarty.cookies.css eq "accessible-100"}
           <link rel='stylesheet' id='znu-css-screen' data-href="{$site_root_url}/index.php?action=scss%2Fget&site_id=62&f=znu12files/css/accessible-100.scss"  href='{$site_root_url}/index.php?action=scss%2Fget&site_id=62&f=znu12files/css/accessible-100.scss' type='text/css' media='screen' />
        {else}
           <link rel='stylesheet' id='znu-css-screen' data-href="{$site_root_url}/index.php?action=scss%2Fget&site_id=62&f=znu12files/css/common.scss"  href='{$site_root_url}/index.php?action=scss%2Fget&site_id=62&f=znu12files/css/common.scss' type='text/css' media='screen' />
        {/if}
        <link rel='stylesheet' id='znu-css-print'  data-href="{$site_root_url}/index.php?action=scss%2Fget&site_id=62&f=znu12files/css/print.scss" href='{$site_root_url}/index.php?action=scss%2Fget&site_id=62&f=znu12files/css/print.scss' type='text/css' media='print' />

        {literal}
        <script type="application/javascript">
        window.openPP = function() {
          var printPreview = window.open(window.location.href+'#printable', 'print_preview', "resizable=yes,scrollbars=yes,status=yes,menubar=yes");
        };
        </script>
        {/literal}

    </head>
    <body>
        <div class="znu-2016-overheader-bg">
                <div class="znu-2016-main">
                        <div class="znu-2016-overheader-row">
                                <div class="znu-2016-overheader-col1">
                                        <a href="#pagetop" class="glyph glyphicon glyphicon-arrow-down" title="{txt lang=$text.language_name variants="eng=Skip to page content::rus=Перейти к тексту страницы::ukr=Перейти до тексту сторінки"}"></a>
                                        <div class="skin-selector-container">
                                        <button type="button" class="skin-selector" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class='glyphicon glyphicon-eye-open'></span><span class="caret"></span>
                                          </button>
                                          <ul class="dropdown-menu">
                                            <li><a href="javascript:void(setSkin('default'))">{txt lang=$text.language_name variants="eng=Default skin::rus=Обычное оформление::ukr=Звичайне оформлення"}</a></li>
                                            <li><a href="javascript:void(setSkin('accessible-100'))">{txt lang=$text.language_name variants="eng=Accessible, scale 100%::rus=Повышенная доступность, масштаб 100%::ukr=Збільшена доступність, масштаб 100%"}</a></li>
                                            <!-- <li><a href="javascript:void(setSkin('accessible-150'))">Something else here</a></li>
                                            <li><a href="javascript:void(setSkin('accessible-200'))">Something else here</a></li> -->
                                          </ul>
                                        </div>
                                        {foreach from=$lang key=ke item=ln}
                                            {if $ln.lang eq $text.language_name}
                                                <span class="lang {$ln.lang} active">{$ln.lang}</span>
                                            {else}
                                                <a href="{$ln.url}" class="lang {$ln.lang}">{$ln.lang}</a>
                                            {/if}
                                        {/foreach}
                                </div>
                                <div class="znu-2016-overheader-col2">
                                        <div class="search">
                                                <input type="search" id="search" placeholder="Поиск..." />
                                                <button class="button"> <i class="fa fa-search"></i> </button>
                                        </div>
                                        <a href="{$site_root_url}/index.php?action=category%2Ftree&site_id=73&interface_lang={$text.language_name}" class="glyph glyphicon glyphicon-list" title="Мапа сайту"></a>
                                        <a href="javascript:void(window.openPP())" class="glyph glyphicon glyphicon-print" title="Друкувати"></a>
                                        <!--input type=text class="search"-->

                                </div>
                        </div>
                </div>
        </div>
        <div class="znu-2016-main">
            <div class="znu-2016-header">
                <div class="znu-2016-header-logo">
                    <span class="w1"><a href="http://www.whois.com/whois/znu.edu.ua" class="znu-2016-remark">{txt lang=$text.language_name variants="eng=Official site::rus=Официальный сайт::ukr=Офіційний сайт"}</a></span>
                    <a class="znu-2016-logo" href="{$znu_root_url}"></a>
                    <div class="znu-2016-title-block">
                        <a class="znu-2016-title" href="{$znu_root_url}">
                            <span class="w">{txt lang=$text.language_name variants="eng=Zaporizhzhya::rus=Запорожский::ukr=Запорізький"}</span>
                            <span class="w">{txt lang=$text.language_name variants="eng=National::rus=национальный::ukr=національний"}</span>
                            <span class="w">{txt lang=$text.language_name variants="eng=University::rus=университет::ukr=університет"}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="znu-2016-main">
            <div class="znu-2016-nav">
                <span class="link"><a class="color1" href="{$znu_root_url}/{$text.language_name}/university" ><i class="fa fa-university"></i><span class="text"><span class="lnk-text">{txt lang=$text.language_name variants="eng=University::rus=Университет::ukr=Університет"}</span></span></a></span>
                <span class="link"><a class="color2" href="{$znu_root_url}/{$text.language_name}/pk"><i class="fa fa-book "></i><span class="text"><span class="lnk-text">{txt lang=$text.language_name variants="eng=Submission::rus=Абитуриенту::ukr=Абітурієнту"}</span></span></a></span>
                <span class="link"><a class="color3" href="{$znu_root_url}/{$text.language_name}/edu"><i class="fa fa-pencil "></i><span class="text"><span class="lnk-text">{txt lang=$text.language_name variants="eng=Studying::rus=Учеба::ukr=Навчання"}</span></span></a></span>
                <span class="link"><a class="color1" href="{$znu_root_url}/{$text.language_name}/sci"><i class="fa fa-graduation-cap "></i><span class="text"><span class="lnk-text">{txt lang=$text.language_name variants="eng=Science::rus=Наука::ukr=Наука"}</span></span></a></span>
                <span class="link"><a class="color2" href="{$znu_root_url}/{$text.language_name}/instructor"><i class="fa fa-globe "></i><span class="text  longlink"><span class="lnk-text">{txt lang=$text.language_name variants="eng=International relations::rus=Международная деятельность::ukr=Міжнародна діяльність"}</span></span></a></span>
                <span class="link"><a class="color3" href="{$znu_root_url}/{$text.language_name}/podiji"><i class="fa fa-clock-o "></i><span class="text"><span class="lnk-text">{txt lang=$text.language_name variants="eng=Events::rus=События::ukr=Події"}</span></span></a></span>
            </div>
            
            <div class="znu-2016-block-page"><a name='pagetop' style='opacity:0; float:right;'></a>
                {$page.content}
            </div>
            
            
        </div>
        
        <div class="znu-2016-footer-bg">
            <div class="znu-2016-main">
                <div class="znu-2016-block-footer">
                    <div class="znu-2016-block-footer-col">
                        <a class="znu-2016-logo" href="{$znu_root_url}">{txt lang=$text.language_name variants="eng==© 2016 Zaporizhzhya national university::rus=© 2016 ЗНУ Запорожский национальный университет, 69600, ::ukr=© 2016 ЗНУ Запорізький національний університет, 69600, "}</a>
                        <br>

                        {txt lang=$text.language_name variants="eng=Zaporizhzhya, Zhykovsky street 66::rus=г. Запорожье, ул. Жуковского, 66, ::ukr=м. Запоріжжя, вул. Жуковського, 66, "}
                        <br>

                        {txt lang=$text.language_name variants="eng=tel/fax::rus=тел./факс::ukr=тел./факс"}
                         +38 (061)228-75-08
                    </div>
                    <div class="znu-2016-block-footer-col">
                        
                        <img src="{$site_root_url}/templates/znu12files/img/qr.gif">
                        <a href="#">{txt lang=$text.language_name variants="eng=Message to IT Lab::rus=Обращение к лаборатории ИС и КТ ЗНУ::ukr=Звернення до лабораторії IС та КТ ЗНУ"}</a><br>
                            {txt lang=$text.language_name variants="eng=Webmaster's email::rus=Электронная почта вебмастера::ukr=Електронна пошта веб-майстра"}
                         <a href="mailto:webmaster@znu.edu.ua">webmaster@znu.edu.ua</a>
                        <br>
                        <a class="social" href="https://vk.com/znu_official/" ><i class="fa fa-vk"></i></a>
                        <a class="social" href="https://www.facebook.com/univerzp" ><i class="fa fa-facebook "></i></a>
                        <!-- a class="social" href="#" ><i class="fa fa-twitter "></i></a -->
                    </div>

                </div>
            </div>
        </div>
        <div style="display:none;"> 
        {literal}<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter36579515 = new Ya.Metrika({ id:36579515, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/36579515" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->{/literal}
        </div>

        <script type="application/javascript" src="{$site_root_url}/templates/znu12files/js/jquery.min.js"></script>
        <script type="application/javascript" src="{$site_root_url}/templates/znu12files/css/bootstrap-sass/javascripts/bootstrap.min.js"></script>
        <script type="application/javascript" src="{$site_root_url}/templates/znu12files/js/custom.js"></script>
    </body>
</html>
