<br />

  {if $pages_found gt 0}
  <h2>
   {$text.Results_shown} {$row_shown_first} .. {$row_shown_last} ( {$text.Total} : {$pages_found} ) 
  </h2>
  <div>
   {$text.Other_pages} : {foreach from=$paging_links item=link} {if $link.URL neq ''}<a href="{$link.URL}">{$link.innerHTML}</a>{else} {$link.innerHTML} {/if} {/foreach}
  </div>
  {/if}


  {foreach from=$search_result item=page}
    <div style="padding:5px;border:none;margin-top:10pt;margin-bottom:10pt;">
      <h4><a href="{$page.url}">{$page.title}</a></h4>
      <div>{$page.abstract}</div>
      <div style='font-size:90%;margin-top:4pt;'>
        <a href="{$page.url}">{$page.url}</a>
        - {$page.size}kB
        - {$text.Last_changed} : {$page.last_change_date}
      </div>
      
    </div>
  {/foreach}
  <br />
  <br />

  {if $pages_found gt 0}
	{*
  <div>
   {$text.Results_shown} {$row_shown_first} .. {$row_shown_last} ( {$text.Total} : {$pages_found} ) 
  </div>
	*}
  <div>
   {$text.Other_pages} : {foreach from=$paging_links item=link} {if $link.URL neq ''}<a href="{$link.URL}">{$link.innerHTML}</a>{else} {$link.innerHTML} {/if} {/foreach}
  </div><br />
  {/if}
