
{foreach from=$parents item=ct}
<div><a href="{$category_view_url_prefix}{$ct.ec_category_id}">{get_langstring  lang=$text.language_name from=$ct.ec_category_title}</a></div>
{/foreach}

<b>{get_langstring  lang=$text.language_name from=$category.ec_category_title}</b>
{capture assign=page_title}{get_langstring  lang=$text.language_name from=$category.ec_category_title}{/capture}
{save path="page.title" value=$page_title}

<div style='padding-left:20pt;'>
{foreach from=$children item=ct}
<div><a href="{$category_view_url_prefix}{$ct.ec_category_id}">{get_langstring  lang=$text.language_name from=$ct.ec_category_title}</a></div>
{/foreach}
</div>
<div>{$category.ec_category_description}</div>
<br/><br/>
